[2013-10-07 15:35] mzimmerman opened #2 "sendAPI errors are swallowed inside send and return sendSMTP error instead"
I'm not sure what you want to do about the error returned with Send but it completely swallows/hides what happens with SendAPI.  Maybe returning an appengine/multierror ([]error)?

[2013-10-23 16:00] #2 closed, assigned to nobody

[2014-03-01 00:44] dtjm opened #10 "Go get fails"
[code]

[2014-03-03 17:04] #10 closed, assigned to nobody

[2014-03-15 11:30] zachlatta opened #11 "No incoming mail support."
It'd be nice if there was support for incoming mail.

[2014-03-15 14:39] #11 closed, assigned to nobody

[2014-08-12 12:38] arvindkumarc opened #15 "Correlating with bounced mail"
After using this api to send email. Email is SENT / BOUNCED etc.
I have created a event webhook to know what are all the mails that are bounced, so that I can trigger further things within my application.
To correlate between sent mail and webhook, are there any identifiers. From the docs, couldn't identify them. Kindly, let me know if there are anything else that need to done.

[2014-08-13 04:03] #15 closed, assigned to nobody

[2015-01-03 06:00] mish15 opened #19 "Typo in Readme: "AddBcc" instead of "AddBCC""

[2015-01-10 16:41] elbuo8 commented on #19
https://github.com/sendgrid/sendgrid-go/commit/b64fc065d4d802822f6dc4ca9dde1456d3374836

Thanks!

[2015-01-10 16:41] #19 closed

[2015-02-06 14:09] tanel opened #21 ""SendGrid Library to Interface through GO" -> "SendGrid Library to Interface through Go""
The programming language is Go, not GO (think SendGrid, not SENDGRID)

:)

[2015-02-17 16:46] bpilot opened #22 "Sendgrid AddUniqueArg problem"
We are experiencing an issue with Sendgrid's invaluable feature, UniqueArgs, often not being set on the new mail. We have confirmed that we are definitely setting the unique arg to a non-empty string value, but we don't see the unique arg in Sendgrid's Event Notification POSTs, and Sendgrid's logs don't show any such arg from the client.

Why might the mtmsg_id unique arg. be set?

Here is the rel

[2015-02-17 17:24] rbin commented on #22
Hi there,

Can you confirm that the UniqueArgs are *never* being set, or *sometimes* being set?  Can you please also confirm how long you've been using this code, and if this problem has ever been an issue before now?

Thanks!

[2015-02-17 17:46] bpilot commented on #22
rbin, thanks for your quick response!

It is sometimes setting the unique args, maybe a 3rd of the time. I have verified that we are definitely always running the AddUnqiueArg() call with proper non-empty string values..

We have migrated our messaging backend from a solution based on https://github.com/sendgrid/sendgrid-nodejs, where UniqueArgs _were_ working.

So, this code has been in use for t

[2015-02-18 00:13] elbuo8 commented on #22
Are you using the lastest version of smtpapi-go?

Are this normal strings? or are you using special characters?

Try logging all the strings you are setting to avoid any false positives.

[2015-02-18 01:12] bpilot commented on #22
Yes, smtpapi-go is latest commit (commit f898c6a004fb8d48ef1ef3d0e64917c0522ead1c).

We put in logging code yesterday that showed these results:
The values are uuids, for example, "0948c776-9920-4bb8-940b-64de0a58dec9", from my logs:

message.AddUniqueArg("mtmsg_id", mtMessage.Id);
log.Println("EMAIL SEND: MTDEFSET: ", mtMessage.Id );

2015/02/16 22:21:18 EMAIL SEND: MTDEFSET:  0948c776-9920-4bb8-

[2015-02-19 16:11] bpilot commented on #22
Okay, we've found this happens only when there is a return character (which gets encoded by url.Values to %0A) in the subject line.

Thank you for being responsive on this issue.

[2015-02-19 16:11] #22 closed

[2015-04-09 18:38] eddiezane commented on #21
Fixed. Thanks!

[2015-04-09 18:38] #21 closed

[2015-05-08 21:21] deckarep opened #27 "Should we simplify the API"
Hi @eddiezane

What do you think about simplifying the API for this codebase?  Right now we have duplicate methods that look similar to each other:

Example:
[code]

And what I'm thinking is we could actually simplify the API's by removing the plural/non-plural named methods with methods that are variadic.

Example:
[code]

This way a single method can be used either singularly or variadicly (is t

[2015-05-11 16:12] eddiezane commented on #27
Definitely a good idea. It's how we do it in the other libraries. Would require a major version bump though. Well, we can at least proxy it right now through `AddCcs` right now and make the change to `AddCc`.

[2015-05-11 16:16] deckarep commented on #27
Ok cool...i'll follow-up soon with a PR for your review. :+1:

[2015-05-19 19:19] dtjm opened #28 "Invalid request"
I'm trying to use the sendgrid-go client to test ISMTPD, but I'm getting an Invalid Request error when I try to send an email.  I'm not getting this when I do a direct request using  curl.  Have you seen this before?  If not, I can look into it some more.

[code]

Test results:

[code]

Curl command:

[code]

[2015-05-19 21:11] dtjm commented on #28
Looks like I have some issue in my local environment where passing an xsmtpapi results in an invalid request.

[2015-05-19 21:11] #28 closed

[2015-06-09 06:32] derekargueta commented on #27
Opened up a PR that addresses this.

[2015-06-26 10:27] deltam opened #32 "Attachment is nothing when using AddAttachmentFromStream()"
I wrote and ran this code:

[code]

I expect received email that has attachment("test.txt"), but attachment is nothing.

I tried official document example(using cURL). Received email has attachment.

https://sendgrid.com/docs/API_Reference/Web_API/mail.html#-Send-a-test-specifying-the-file-content-type-by-appending-typemime-type-to-the-file-name

Is `AddAttachmentFromStream()` along API?

https://

[2015-06-30 09:13] deltam commented on #32
I run that code now, attachment is there.
I close this issue because can't reproduce.

[2015-06-30 09:13] #32 closed

[2015-08-30 09:44] Scorpiion opened #34 "The Go sample on sendgrid's frontpage contains a bug"
Hi, I was just trying out the API and found a bug in the sample that you guys show on the company homepage.

Current version:
[code]

Fixed version:
[code]

Using "client" as the client name avoids this naming bug.

I know this is not specifically a bug in the driver, but I thought it was better to go via Github than trying to explain this to some support person that can't read Go code...

Best Re

[2015-08-30 10:00] Scorpiion commented on #34
Note: The sample on the docs homepage does not have this bug, but it uses "sg" instead of "client".

https://sendgrid.com/docs/Integrate/Code_Examples/go.html

[2015-09-23 20:25] aluksidadi opened #35 "Issue with attachment"
Hi all i tried sending attachment but it didnt work.

Heres my codes:

[code]

there's no error produced, it actually sent the email but without the attachment.

Thanks in advance!

[2015-09-29 14:51] adrianduke opened #36 "Make testing easier with interfaces"
For testing purposes I've not been able to find a way to mock out any of the sendgrid-go library (or smtpapi-go for that matter). Even defining my own local interfaces and mocking those I am defeated by the public API using specific types (Send in particular). It would be great if there were 2 interfaces:

[code]

Then the existing SGClient and SGMail should satisfy these interfaces. The AWS Go SD

[2015-10-05 22:29] broady opened #37 "AddRecipient does not make m.ToName equal in length to m.To"
[code]

The docs say "toname must be an array with the exact number of array elements as the to field".

[2015-10-05 23:04] elbuo8 commented on #37
If the instances of `mail.Address` are inconsistent (some have the `Name` properties while others don't) then the sizes will mismatch.

If your data is inconsistent but you still want to support `ToName` where available, I would suggest using the `SMTPAPI To` field which takes the format `Name <email@email.com>` as well as `email@email.com` and applies it appropriately.

[2015-10-05 23:54] broady commented on #37
When should one use SMTPAPI vs this API?

[2015-10-12 16:19] elbuo8 commented on #37
Whoa, sorry for this late reply :(

SMTPAPI treats the recipients completely independently of each other. Meaning, if you send an email to `a@email.com` and `b@email.com` then `a` won't see `b` as a recipient and vice versa. Using the regular `to` field will expose `b` as a recipient to `a` and vice versa.

Hope that helps @broady

[2015-10-12 18:27] broady commented on #37
Aha, got it.

I still think it's worth this package inserting an empty ToName if the data is inconsistent.

That is, on the first instance that `recipient.Name` is non-empty, pad out `m.ToName` and append `recipient.Name`.

[2015-10-12 18:46] elbuo8 commented on #37
Makes sense. I'll prepare a PR.

cc/ @tushdante @thinkingserious

[2015-10-30 21:29] thinkingserious commented on #36
If we provided you with a local mock SendGrid server, would that solve your issue?

[2015-10-31 11:23] adrianduke commented on #36
@thinkingserious Thanks for getting back to me! That will definitely help for integration tests, but would still leave a bit of a hole for unit tests (which was my use case). Ideally with unit tests you segregate your unit under test via interfaces and DI, a mock server (if I have understood correctly, I'm thinking stand alone local daemon acting as the SG endpoint giving mock responses) wont be p

[2015-10-31 15:17] thinkingserious commented on #36
Thanks for the additional feedback! I'll need to look deeper, but it might be some time, as I have quite a backlog I'm working through.

Pull requests are always welcome ;)

[2015-11-30 19:03] mkazlauskas opened #42 "Random 406"
I'm getting non-predictable 406 errors. Code issuing the requests is exactly the same whether it fails or succeeds. This is how the error looks like:

    sendgrid.go: code:406 error:<nil> body:<html>
    <head><title>406 Not Acceptable</title></head>
    <body bgcolor="white">
    <center><h1>406 Not Acceptable</h1></center>
    <hr><center>nginx</center>
    </body>
    </html>

This is the code

[2015-12-01 11:00] koAlech commented on #42
I'm also experiencing this issue since yesterday.

[2015-12-01 19:43] brandonmwest commented on #42
Hi, we're looking into this. It appears to be something at the API layer rather than this SDK.

Are you both using Google App Engine by chance?

[2015-12-02 07:43] koAlech commented on #42
Yeah, we are using GAE.
On Dec 1, 2015 21:43, "Brandon West" <notifications@github.com> wrote:

[2015-12-02 20:24] brandonmwest commented on #42
This should be resolved!

[2015-12-02 20:24] #42 closed

[2015-12-30 23:59] tux0010 commented on #35
Try this:
[code]

[2016-01-12 02:51] derekperkins opened #45 "Support Marketing API + Transactional Templates"

[2016-01-12 04:56] thinkingserious commented on #45
Hello @derekperkins,

These tasks are on our roadmap (as well as all Web API v3 endpoints), but we don't yet have a firm timeline. Please watch this repository for updates.

[2016-01-12 04:56] #45 closed

[2016-01-19 09:27] bradberger opened #47 "Transactional Templates"
Sending transactional templates doesn't seem to be working. If no message text is set, getting a "Missing email body" error.

Could be that it's not set up correctly, too, so here's the basic attempts I've made, where `message` is a `*SGMail` interface:

[code]

and also via the `SMTPAPIHeader` option:

[code]

If do one/both of the above, and also set the text, the text that's set is what is bein

[2016-03-05 15:54] liamsymonds opened #54 "Invalid from email address throws an error saying the from email address is empty"
Code:

    message := sendgrid.NewMail()
    message.AddTo("to@to.com")
    message.SetSubject("My subject")
    message.SetHTML("This is an email")
    message.SetFrom("Test")

Yields:

    sendgrid.go: code:400 error:<nil> body:{"errors":["Empty from email address (required)"],"message":"error"}

Surely the error message should explain what the error is rather than throwing a generic catch-all?

[2016-03-05 15:55] liamsymonds commented on #54
Just had a look through the source and realised this error was thrown from the actual SendGrid API - not the go package.

[2016-03-05 15:55] #54 closed

[2016-03-16 21:09] rschmukler commented on #47
I ran into this as well. For what it's worth I was able to get it somewhat cleanly working with the following:

[code]

The text just gets a newline, and the HTML can be ignored. It's definitely annoying though.

[2016-04-19 20:21] johnsogg commented on #47
In case it helps anybody else, I've put up a complete gist that uses these hints here:

https://gist.github.com/johnsogg/c7ca4652925d9fe90450be01017861f1

Just need to swap in your api key and transaction id string.

Just in time for all the last minute Mandrill users who have to switch over before April 27...

[2016-04-22 18:52] GrimTheReaper opened #56 "Test APIKey"
How would I go about testing if the API Key works/verified?

[2016-04-26 14:22] asmckinlay opened #57 "Integration with mail_v3.go"
Hi,

I'm trying to integrated my application using this Go library.

My objective is to have emails to be sent at a point in time and so I noticed there is a mail_v3.go file which contains a 'SendAt' field; I assume this is the field to populate to achieve my objective.

However, when i try to Send the message, there is a type conflict ("cannot use message (type *sendgrid.SGMailV3) as type *sendgr

[2016-04-26 15:51] thinkingserious commented on #57
Hello @asmckinlay,

This will be available in a few weeks. Please stay tuned to this repo for further information.

Thanks!

[2016-04-26 15:51] #57 closed

[2016-05-22 20:42] thinkingserious commented on #56
Hello @GrimTheReaper,

You could try a simple cURL request: https://sendgrid.com/docs/API_Reference/Web_API_v3/index.html

With Best Regards,

Elmer

[2016-05-22 20:42] #56 closed

[2016-05-22 20:44] thinkingserious commented on #47
Hello @bradberger,

This issue should be resolved. Further, in a few weeks this library gets replaced with this one: https://github.com/sendgrid/sendgrid-go/tree/v3beta, which now uses the v3 /mail/send endpoint: https://sendgrid.com/docs/API_Reference/Web_API_v3/index.html

@rschmukler, @johnsogg, thanks for jumping in with some support!

With Best Regards,

Elmer

[2016-05-22 20:44] #47 closed

[2016-05-22 20:44] #37 closed

[2016-05-22 20:45] thinkingserious commented on #36
Hello @adrianduke,

This library will be replaced in a few weeks with this one: https://github.com/sendgrid/sendgrid-go/tree/v3beta

Please check out how we handle testing in that version.

With Best Regards,

Elmer

[2016-05-22 20:46] thinkingserious commented on #35
Hello @aluksidadi,

We are replacing this library in a few weeks with this one: https://github.com/sendgrid/sendgrid-go/tree/v3beta. It uses the v3 /mail/send endpoint which handles attachments differently: https://sendgrid.com/docs/API_Reference/Web_API_v3/index.html

@tux0010 thanks for the solution!

With Best Regards,

Elmer

[2016-05-22 20:46] #35 closed

[2016-05-22 20:49] thinkingserious commented on #34
Hello @Scorpiion,

Thanks for the heads up!

This has been fixed: https://gist.github.com/sendgrid-gists/64953cac32d2af325281dcee8b03d787

With Best Regards,

Elmer

[2016-05-22 20:49] #34 closed

[2016-05-22 20:49] #27 closed

[2016-05-23 05:34] Scorpiion commented on #34
No problem, a little slow response time on the issue but better late than never! :+1:

[2016-05-23 18:13] GrimTheReaper commented on #56
@thinkingserious that is outside of the scope of the library, and is also platform specific. Validation of API Key should be a feature, and should **not** be pushed off to some other resource unrelated to sendgrid.

[2016-05-23 18:23] thinkingserious commented on #56
@GrimTheReaper,

I think I misunderstood your original question. I thought you just wanted to see if your key is working.

I think this is what you are looking for: https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/index.html#Get-an-existing-API-Key-GET

With the new library, you would do this: https://github.com/sendgrid/sendgrid-go/blob/v3beta/examples/example.go#L63

Note that you nee

[2016-06-15 15:24] broady opened #62 "Apparent regression in usability"
The new v3 package seems to be much more low-level and more difficult to use.

Can you consider writing a higher level wrapper that optimizes for the person writing the code?

See the difference here:
https://github.com/GoogleCloudPlatform/golang-samples/pull/59/files

[2016-06-15 15:36] thinkingserious commented on #62
Hello @broady,

Thank you for the feedback!

This new version our of our v3 /mail/send API is a big jump in usability over our v2 version: (please see https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html for details) and caused a complete rewrite of this library. We started with a low-level approach with a focus on stability and functionality for this first release.

Currently, the w

[2016-06-15 15:56] broady commented on #62
Thanks, please do let me know. I am the primary maintainer for those App Engine samples - I want to make sure we're giving the best code samples to your/our users!

[2016-06-15 15:59] broady opened #63 "No way to set custom http.Client"
See https://github.com/sendgrid/rest/issues/5

[2016-06-16 17:12] thinkingserious commented on #63
@broady,

It looks like I might not need your pull request (we are still trying to work through the CLA issue) because we already have this pull request: https://github.com/sendgrid/sendgrid-go/pull/59

Would that get you what you need?

[2016-06-16 17:53] broady commented on #63
@thinkingserious well, nope - that PR doesn't merge with master. But something *like* that, yes! :)

[2016-06-16 18:28] thinkingserious commented on #63
@broady

Hehe, cool. I'll go ahead and get it updated to work in this version of the library and I'll ping you when its done. Thank you for being so responsive!

[2016-06-16 20:28] thinkingserious commented on #62
I will close this one in favor of opening tickets with specific examples for improvements. If you have a short list of things you would like to see, please let me know so I can get them officially represented.

In the next few weeks we will be creating a roadmap (that will be shared here on Github) towards the next milestone for this library and we will be considering all feedback.

Thanks!

[2016-06-16 20:28] #62 closed

[2016-06-17 08:03] vvakame opened #64 "Please use a golint tool"
#### Issue Summary

[golint](https://github.com/golang/lint) is very useful tool.
please try it!
#### Steps to Reproduce
1. `go get -u github.com/golang/lint/golint`
2. `golint ./...`
3. You got a lot of error!
   e.g... `helpers/mail/mail_v3.go:28:6: exported type Personalization should have comment or be unexported`
   I want to read the doc comment.
#### Technical details:
- sendgrid-go Version

[2016-06-17 18:16] thinkingserious commented on #64
Hello @vvakame,

Thank you for the suggestion!

These are our current Style Guide & Naming Conventions: https://github.com/sendgrid/sendgrid-go/blob/master/CONTRIBUTING.md#style-guidelines--naming-conventions

I will leave this ticket open for consideration to add.

With Best Regards,

Elmer

[2016-06-18 23:30] simonmorley opened #65 "Version 2 - V2 - Non-V3 Usage"
Version 2 - How to Go Back
------------------------------------------------------

Yes, actually it's great v3 is here. _This is cool_. We can all agree on that. What's **not cool** is the fact that there are zero instructions about using the v2 library in case of emergency.

Why would anyone want to use the old version? Maybe those who've built shizzle around that API - those using the v2 library

[2016-06-23 04:25] vvakame opened #66 "Send mail failed with v3 API and multi-byte contents."
#### Issue Summary

We can't send a mail via v3 API with multibyte content.

#### Steps to Reproduce

[code]

[code]

#### Technical details:

* sendgrid-go Version: master (latest commit: [21f08698ba61551befffd8755f508631a4d1e8ae])
* Go Version: 1.6.2

I'm posted this issue to SendGrid support. Request # 691762

[2016-06-24 20:07] veqryn opened #67 "How to migrate from v2 to v3, when using templates?"
The examples are all well and good for extremely simple mail, but how do I send sendgrid templated mail, with substitutions, etc?

I am hoping you don't have me writing json by hand... friends don't let friends write json by hand...

Here is an example of my code to send mail with templates using sendgrid v2:

[code]

[2016-06-24 22:23] thinkingserious commented on #67
Hello @veqryn,

You may want to check out our mail helper: https://github.com/sendgrid/sendgrid-go/blob/master/examples/helpers/mail/example.go#L14

[2016-06-28 01:34] vvakame commented on #66
any update?

[2016-06-28 02:16] thinkingserious commented on #66
This is in our queue to be fixed ASAP. I'll post any updates here.

Thanks!

[2016-06-28 23:22] thinkingserious commented on #67
@veqryn,

You may also want to check out: https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/how_to_migrate_from_v2_to_v3_mail_send.html

[2016-06-28 23:22] #67 closed

[2016-06-28 23:26] #36 closed

[2016-06-29 01:34] mbernier commented on #65
Hey, @simonmorley, sorry for the problems here.

We have made every release of the library using Github releases so that you can pin to a specific release from [this list](https://github.com/sendgrid/sendgrid-go/releases). In your case, you may want to pin to release 2.0.0.

[This comment on Stackoverflow](http://stackoverflow.com/a/792027) answers the how way better than I ever could.

I hope thi

[2016-06-29 17:42] #65 closed

[2016-07-01 09:18] vvakame commented on #66
any update?
I need a solution for my project. likes #65
Our project uses [gb](https://getgb.io/). but our sub projects can't use it.
CI system update ` github.com/sendgrid/sendgrid-go` automatically.
Please consider using a `gopkg.in` .

[2016-07-01 12:19] joaolsilva opened #68 "Can't disable subscription tracking"
#### Issue Summary

The API won't allow disabling subscription tracking because the Enable parameter won't be sent when it's false, returning the error: "The subscription_tracking enable parameter is required."

#### Steps to Reproduce

Send an email with the following options:

    trackingSettings := mail.NewTrackingSettings()
    subscriptionTrackingSetting := mail.NewSubscriptionTrackingSettin

[2016-07-01 12:30] csummers commented on #66
@thinkingserious For clarity, is this a Sendgrid V3 server-side bug?

I think I am running into the same issue using the latest sendgrid-java client.  Mail that used to go through V2 fails in V3 with the "Unrecognized UTF8 Byte" error message.

[2016-07-01 19:08] thinkingserious commented on #66
@csummers,

It is a client side bug. The issue is that when we send the request body JSON, I did not consider the multi-byte characters when calculating the length, which causes it to be truncated.

Thanks for speaking up though because every voice helps bump the ticket up our queue to be fixed :)

[2016-07-06 05:25] vvakame commented on #66
@thinkingserious I think this issue is not client side bug.
It can reproduce by cURL.

[code]

[2016-07-06 15:40] thinkingserious commented on #66
Thanks for the additional information @vvakame!

[2016-07-06 16:05] thinkingserious commented on #66
If I do:

[code]

where post.json is:

[code]

The email is delivered as expected.

There appears to be some issue in that string of numbers. Is there some sort of non utf-8 special character in there?

[2016-07-06 21:59] thinkingserious commented on #66
@vvakame,

I've been able to confirm that it is an API client issue and a bug has been filed. When it get's fixed, I'll post here. Thanks for your patience and help with tracking this issue down.

[2016-07-08 22:06] thinkingserious commented on #68
This is now fixed in version 3.0.3: https://github.com/sendgrid/sendgrid-go/releases/tag/v3.0.3

Thanks!

[2016-07-08 22:06] #68 closed

[2016-07-09 00:30] amaendeepm commented on #63
Then how to use in Google Appengine where custom client http overriding is must-to-have requirement ?

[2016-07-09 00:41] thinkingserious commented on #63
@amaendeepm,

The fix is on our backlog and I've added your vote to the ticket, helping it to rise higher in the queue.

[2016-07-13 13:50] sridharv commented on #63
For anyone who runs into this issue, I'm currently using the following function as a workaround. This doesn't require editing the existing sendgrid library.

[code]

[2016-07-13 19:22] thinkingserious commented on #63
Awesome @sridharv!

Thanks for sharing the workaround!

Also, I've added your voice to the issue so that it can get prioritized higher.

Can you and @broady send me your T-shirt size and mailing address so that I may mail out some swag for your support?

[2016-07-14 05:33] norbergj commented on #66
@thinkingserious

Do you have an ETA when this will be fixed?
I am currently evaluating if I can wait for the fix or if I should use v2 as described in #65

[2016-07-14 11:25] Rompei commented on #66
@thinkingserious I got the same problem when I try to send email written in Japanese then email was not delivered and the error was appeared.

I think it is caused by the length of body. Please see the examples below.

[code]

It's ok. but

[code]

It outputs the error

[code]

And, it's appeared in a byte of 2 of the multiplier - 1, for example 511 and 1023.

I hope it will be your help, and I us

[2016-07-14 15:56] thinkingserious commented on #66
@norbergj,

I don't have an ETA, but the continued comments and votes help move it up the queue. Also, I will be advocating again for a quick fix today at our stand up.

@Rompei,

Thanks! I'll pass this along to the team.

[2016-07-15 13:31] sridharv commented on #63
Thanks for the T-shirt offer :)

If this above code works I can send you a pull request to create a new function like so:

[code]

[2016-07-18 15:46] thinkingserious commented on #63
@sridharv,

A pull request would be awesome. It would need to be done here: https://github.com/sendgrid/rest and we would need a signed CLA: https://github.com/sendgrid/rest/blob/master/CONTRIBUTING.md#cla

Otherwise, I'll be manually merging this one: https://github.com/sendgrid/sendgrid-go/pull/59

Thanks!

[2016-07-19 10:07] mjgaylord commented on #63
Just an up vote on this issue. We also need support for this on Google Appengine.

[2016-07-19 12:27] amaendeepm commented on #63
We decided to leave Sendgrid and moved to Campaign Monitor instead now. They dont claim GO-SDK but better than having a buggy one :-(

[2016-07-19 15:33] thinkingserious opened #71 "Versioning (best practice for dealing with breaking changes)"
#### Issue Summary

Several of you have voiced concerned about the recent breaking changes to the library. As we move forward, there will be more breaking changes. This issue aims to provide a solution that will make those transitions smoother.

So far we have heard the following options:
1. Include the version number in the URL. (each major version change would go in it's own folder)
2. Use [gopk

[2016-07-19 17:03] thinkingserious commented on #63
@amaendeepm,

Sorry to see you go.

We'll be updating this thread when the issue is fixed in case you decide to come back.

Also, I'm adding your vote to the issue to help move it up the priority queue.

[2016-07-19 22:08] aeijdenberg commented on #71
There's also the option of (3) Reimplement and expose the old API surface in terms of new API - if it turns out that it's hard to do that, that's a sign that your customers will struggle as well.

But failing that, either of those options sound good. As a user of the the library for a tiny part of my app, it doesn't bother me to address minor breaking changes - that's part of housekeeping when usi

[2016-07-20 12:41] tkrajina commented on #63
Add another upvote from me. Same situation (appengine, still using the old version, and can't upgrade to the new one).

It's kind of weird that this (relatively simple) issue takes so long to be fixed.

[2016-07-20 14:58] thinkingserious commented on #63
@tkrajina,

Thanks for the vote! I'm itching to get this fixed too.

The size and complexity of the fix is only one of many aspects of the prioritization process. To  get this ticket moved up our priority queue involves:

1. Exactly what you just did, a comment or a +1
2. A pull request with a signed CLA

Note that the v2 of our library is not deprecated, if you have an urgent need that is an opti

[2016-07-23 06:03] sridharv commented on #63
I've sent pull request https://github.com/sendgrid/rest/pull/8

I've also sent a CLA to the email address mentioned, but I did have to add a small restriction to the patent license section.

[2016-07-23 11:57] alxbog commented on #66
@thinkingserious Come on, guys! It's a blocker bug on server side that is known for a month already. I guess a lot of your clients believe their email are delivered when they are not.

[2016-07-23 14:54] thinkingserious commented on #63
Hi @sridharv,

I've added a vote to this issue to move it up the queue and your modification to the CLA has been passed along for review by our legal team. Thanks!

[2016-07-23 14:59] thinkingserious commented on #66
@alxbog,

I sincerely wish it was fixed 3 months ago :(

The good news is that it's currently in this sprint and is now being actively worked on. I'm looking forward to announcing the fix very soon.

[2016-07-28 10:03] wizardofjoz commented on #63
+1 compatibility with App Engine. Just upgraded to SendGrid v3 but also noticed there's no official way to change the http.Client

At the time of writing this comment (July 28, 2016) the App Engine documentation still references SendGrid v2

[2016-07-28 13:11] thinkingserious commented on #63
@wizardofjoz,

Thanks for the upvote!

This pull request should get us there later today: https://github.com/sendgrid/rest/pull/9

[2016-07-28 22:04] thinkingserious commented on #63
https://github.com/sendgrid/sendgrid-go/pull/73

[2016-07-28 22:04] #63 closed

[2016-07-28 23:01] thinkingserious commented on #66
The fix for this has been deployed :)

Thank you for your patience!

[2016-07-28 23:01] #66 closed

[2016-07-29 17:54] amaendeepm commented on #63
@thinkingserious Thanks a bunch !!! Now after 21 days of using Campaign Monitor we are coming back to SendGrid. Sent you Linkedin invite :-)

[2016-08-24 20:58] Lempiraholio opened #76 "Why delete SGClient?"
Why delete SGClient out of nowhere and replace it by sending requests to the API? I think the main idea of using a library is to hide the actual calls to the API and wrap them inside a client.

[2016-08-24 21:49] thinkingserious commented on #76
Hello @Lempiraholio,

Thanks for reaching out!

We had a big refactor back in June of our library to support the new v3 Web API where we had a breaking change: https://github.com/sendgrid/sendgrid-go/blob/master/CHANGELOG.md#300---2016-06-14

Step one was to decouple the previous mail endpoint from the HTTP Client so that we could support all the v3 Web API calls.

Moving forward we will be utiliz

[2016-08-24 21:49] #76 closed

[2016-08-30 06:42] nitronick600 opened #79 "Heroku Golang section is out of date"
Hello,

The example code used in the Golang section on Heroku is out of date.  sendgrid. NewSendGridClient() doesn't appear to exist anymore.  The examples on the Github seem to work great.
#### Technical details:
- sendgrid-go Version: master (latest commit: [commit number])
- Go Version: 1.5.1

[2016-08-30 17:32] thinkingserious commented on #79
Hi @nitronick600,

Thanks for letting us know!

I have requested an update.

[2016-09-12 17:55] thinkingserious opened #81 "BREAKING CHANGES"
As a result of your feedback and as a continuation of the execution of our long term roadmap, there will be breaking changes coming soon. The last time we had a major breaking change, it was for the implementation of v3 Web API support. We announced those changes here on GitHub along with some instructions on how to test and provide feedback.

The feedback we got was amazing, but we didn't quite g

[2016-09-17 20:43] danhardman commented on #81
Could you not have at least created a separate branch for the V2 client so I can use that temporarily. For me, this breaking change came without warning.

[2016-09-17 21:01] thinkingserious commented on #81
@danhardman have you tried this? https://github.com/sendgrid/sendgrid-go/blob/master/TROUBLESHOOTING.md#v2

[2016-09-18 12:22] danhardman commented on #81
@thinkingserious Appreciate it!

[2016-09-23 05:14] thinkingserious opened #82 "Create a simple web server that can consume Incoming Parse data"
Acceptance Criteria:

- Should be deployable locally and on Heroku
- Setting are configured in an external configuration file
- There should be two endpoints, / and inbound (set in configuration). The former should accept GETs and the latter POSTs
- When receiving an Inbound Parse payload, return a 200 status to SendGrid

Reference:

- https://github.com/sendgrid/sendgrid-python/blob/master/sendgr

[2016-09-23 05:14] thinkingserious opened #83 "Create a Inbound Parse data parser"
Acceptance Criteria:

- Implement all the functions [here](https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/inbound/parse.py).

Reference:

- https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/inbound/parse.py
- https://sendgrid.com/docs/Classroom/Basics/Inbound_Parse_Webhook/setting_up_the_inbound_parse_webhook.html
- https://sendgrid.com/docs/API_Ref

[2016-09-23 05:14] thinkingserious opened #84 "Create a test Inbound Parse data sender"
Acceptance Criteria:

- Implement all the functions [here](https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/inbound/send.py).
- Write unit tests

Reference:

- https://github.com/sendgrid/sendgrid-python/blob/master/sendgrid/helpers/inbound/send.py
- https://sendgrid.com/docs/Classroom/Basics/Inbound_Parse_Webhook/setting_up_the_inbound_parse_webhook.html
- https://sendgrid

[2016-09-23 05:15] thinkingserious opened #85 "Demonstrate how to deploy to Heroku, implement 1-Click Install"
Acceptance Criteria:
- Demonstrate how to deploy to Heroku
- Implement 1-click install
- Update README

Reference:
- https://github.com/sendgrid/sendgrid-python/tree/master/sendgrid/helpers/inbound#heroku
- https://sendgrid.com/docs/Classroom/Basics/Inbound_Parse_Webhook/setting_up_the_inbound_parse_webhook.html
- https://sendgrid.com/docs/API_Reference/Webhooks/parse.html
- https://github.com/her

[2016-09-27 18:43] ghost opened #86 "Simplify code"
#### Issue Summary

The code is more complex than it needs to be. Simplify it.

[Example One](https://github.com/sendgrid/sendgrid-go/blob/e0b3a5eae9f862e5f6d9961bf2d3e494d982c39e/helpers/mail/mail_v3.go#L164-L167):

The append builtin works with a nil slice as the first argument.  The code

[code]

can be written as:

[code]

This pattern occurs several places throughout the code.

[Example 2](ht

[2016-09-27 20:19] thinkingserious commented on #86
Thanks @normanvashon!

I've added this to our backlog.

[2016-09-28 17:32] thinkingserious commented on #82
https://github.com/sendgrid/sendgrid-go/commit/aff66b27b579bd2c917fbded61a3dba5ae91244c

[2016-09-28 17:32] #82 closed

[2016-10-04 21:46] #83 closed

[2016-10-06 01:38] #84 closed

[2016-10-06 21:52] thinkingserious opened #87 "Send a Single Email to a Single Recipient"
Acceptance Criteria:
- A email object that represents the response body payload
- A mail object that handles sending email objects, data validation and error handling

Reference:
- https://github.com/sendgrid/sendgrid-go/tree/master/helpers/mail
- https://github.com/sendgrid/sendgrid-go/blob/master/CONTRIBUTING.md
- https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html

[2016-10-06 21:52] thinkingserious opened #88 "Send a Single Email to Multiple Recipients"
Acceptance Criteria:
- A email object that represents the response body payload
- A mail object that handles sending email objects, data validation and error handling

Reference:
- https://github.com/sendgrid/sendgrid-go/tree/master/helpers/mail
- https://github.com/sendgrid/sendgrid-go/blob/master/CONTRIBUTING.md
- https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html

[2016-10-06 21:53] thinkingserious opened #89 "Send Multiple Emails to Multiple Recipients"
Acceptance Criteria:
- A email object that represents the response body payload
- A mail object that handles sending email objects, data validation and error handling

Reference:
- https://github.com/sendgrid/sendgrid-go/tree/master/sendgrid/helpers/mail
- https://github.com/sendgrid/sendgrid-go/blob/master/CONTRIBUTING.md
- https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html

[2016-10-06 21:54] thinkingserious opened #90 "Utilize Transactional Templates"
Acceptance Criteria:
- Demonstration of usage with all three cases: Send a Single Email to a Single Recipient, Send a Single Email to Multiple Recipients, Send Multiple Emails to Multiple Recipients and

Reference:
- https://github.com/sendgrid/sendgrid-go/blob/master/USE_CASES.md#transactional_templates
- https://github.com/sendgrid/sendgrid-go/tree/master/helpers/mail
- https://github.com/sendgr

[2016-10-08 09:46] andela-ooranagwa commented on #87
What's the status of this issue? I'll like to work on it if it's still open.

[2016-10-10 16:06] thinkingserious commented on #87
@andela-ooranagwa,

This issue is still available. My comments on a similar issue in our Java library may be helpful: https://github.com/sendgrid/sendgrid-java/issues/150

Also, we will need a signed CLA in order to merge your work. Please sign that for us here: https://github.com/sendgrid/sendgrid-go/blob/master/CONTRIBUTING.md#cla

Thank you!

With Best Regards,

Elmer

[2016-10-11 20:25] thinkingserious opened #93 "Add vendoring"
#### Issue Summary

[This pull request](https://github.com/sendgrid/rest/pull/12/files) is going to be a breaking change.

Adding vendoring will help us manage these breaks easier. We want to avoid surprising breaking changes. Note that we will continue to follow semver.org conventions.

[2016-10-11 22:02] gpaixao commented on #93
Sorry, but I don't understand it. You want that include the folder vendor in project ?

[2016-10-11 22:15] thinkingserious commented on #93
@gpaixao,

Yes, basically we need to implement: https://docs.google.com/document/d/1Bz5-UB7g2uPBdOx-rw5t9MxJwkfpx90cqG9AFL0JAYo/edit

[2016-10-11 22:19] gpaixao commented on #93
The version this project is Go1.5 or 1.6 ?

[2016-10-11 22:30] thinkingserious commented on #93
@gpaixao,

I'm closing this issue, because we have decided to instead remove the dependency to rest, to simplify.

[2016-10-11 22:30] #93 closed

[2016-10-11 22:32] gpaixao commented on #93
Ok, great!

[2016-10-11 22:32] thinkingserious opened #94 "Remove dependency to Go sendgrid/rest library"
#### Issue Summary

Remove the dependency to https://github.com/sendgrid/rest, bringing the http client functionality into the library.

Once this one is closed, I can merge this: https://github.com/sendgrid/rest/pull/14

[2016-10-11 22:40] thinkingserious commented on #93
@gpaixao,

Here is the issue for that solution: https://github.com/sendgrid/sendgrid-go/issues/94

[2016-10-11 22:42] gpaixao commented on #94
:face_with_head_bandage: Already closed ? hahahaha'

[2016-10-11 22:58] thinkingserious commented on #94
@gpaixao #93 is closed, this one is ready to go :)

[2016-10-11 23:03] suchitparikh commented on #94
@thinkingserious - Got this one

[2016-10-20 14:31] andela-ooranagwa commented on #87
@thinkingserious

I will appreciate if can you provide some more details? Similar to what was pointed out in the Java library, sendgrid-go already has a NewEmail that is used to compose and send email to a single recipient.
Your comment implies that this issue is merely a refactor, if so what implementation behavior do you desire? A single object that bundles and encapsulates both setting up and s

[2016-10-20 18:25] berto commented on #85
Hi @thinkingserious, I'd like help with this. One thing that stands out is the repo's package layout. Basically, it will require making inbound its own package and adding a main package at the root to tie it together

[2016-10-20 21:03] thinkingserious commented on #87
Hello @andela-ooranagwa,

Thanks for reaching out!

I'm thinking that the end result would be something like:

[code]

Behind the scenes the Email class handles the verifications and building the request body.

[2016-10-20 21:33] thinkingserious commented on #85
Hello @berto,

That sounds good to me :)

Thanks!

[2016-10-20 22:35] thinkingserious commented on #87
Some additional notes:
- The content body should take a IO.Reader
- The response should be custom and strongly typed

[2016-10-20 23:27] andela-ooranagwa commented on #87
This is much more helpful. Thank you for providing more details

[2016-10-31 03:25] berto commented on #85
Hi @thinkingserious, it's a bit more complicated than I thought. Here is a summary:

The Problem:

With the current layout, it is not possible to create a deploy button with the master branch of this repo without changing the API. Heroku automatically builds the main package from the root of the repo and uses the binary to run the application. The current API of `sendgrid-go` has a `sendgrid` pack

[2016-11-07 14:40] danhardman opened #99 "sendgrid.API() isn't returning error properly"
#### Issue Summary

In the code: `response, err := sendgrid.API(request)`, err is nil, even when there are errors. I have to inspect: `response.StatusCode` to see if the status is 200 or not and then `response.Body` to find the error. I see the response provides an array of errors, so maybe the first error should be returned.

#### Steps to Reproduce

Try to send an email with an invalid API key,

[2016-11-07 21:14] thinkingserious commented on #99
Thanks @danhardman, I've added this to our backlog for a fix.

[2016-11-08 19:10] thinkingserious opened #100 "Add Rate Limiting Support"
We would like to add support for v3 Web API rate limits, as described [here](https://sendgrid.com/docs/API_Reference/Web_API_v3/How_To_Use_The_Web_API_v3/rate_limits.html).

**_How would you like this to be implemented?_** Or please give a thumbs up to express your interest in us implementing to move this task up our queue.

PRs are always welcome as well :)

[2016-11-08 23:35] thinkingserious commented on #85
Great idea @berto, I have created the branch here: https://github.com/sendgrid/sendgrid-go/tree/heroku-deployment

[2016-11-27 22:17] kennygrant commented on #71
I'd also vote for continuing to support the old API using the new API underneath. Changing the API with breaking changes for your customers should be very rare and only because it is required to support new features and there is no other workaround.

[2017-01-26 15:28] jonathan-short opened #105 "Rate limit headers not in response"
I successfully sent an email using this package - got 2xx and received email as expected.  However, the response that comes back did not include rate limit headers (X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset) as described here: https://sendgrid.com/docs/API_Reference/Web_API_v3/How_To_Use_The_Web_API_v3/rate_limits.html

Is there another way to access the rate limit information, o

[2017-01-26 18:05] thinkingserious commented on #105
Hello @jonathan-short,

It looks like just the mail/send endpoint does not return the rate limit information. I'm investigating and I'll let you know what I find.

Thanks!

[2017-02-22 23:37] thinkingserious commented on #105
Hi @jonathan-short,

Apologies for the delay. I have confirmed that the Rate Limit information is not returned on the mail/send endpoint.

With Best Regards,

Elmer

[2017-02-22 23:37] #105 closed

[2017-03-03 20:03] ookpalm opened #106 "202 response with no email being queued and sent to destinations"
My app is running on Google App Engine in Go language. I sent emails out from my app to hotmail and gmail accounts with 202 response with no body from sendgrid server. However, there is no email being sent to any mailbox I have tested.

How can I track the issue furthermore the fix the problem. According to the doc, 202 response means the email is being queued and will be delivered. When I checked

[2017-03-07 08:04] thinkingserious commented on #106
Hello @ookpalm,

I suggest you reach out to our support team so that they may examine your account's logs to help troubleshoot.

They can be reached at https://support.sendgrid.com

Thanks!

With Best Regards,

Elmer

[2017-04-05 16:17] mholt commented on #99
You can reproduce this easily by using a fake API key like "foo".

[2017-04-05 16:27] mholt commented on #99
It's because [BuildResponse doesn't return an error if the HTTP request returns a non-2xx status](https://sourcegraph.com/github.com/sendgrid/rest@e814e651fe7fb0dccc758412c48afb4a0023bcd7/-/blob/rest.go#L91:26).

For now, I'm doing this as a workaround, although this should get fixed upstream IMO:

[code]

[2017-04-05 16:31] SendGridDX commented on #99
Thanks for sharing a workaround @mholt! I've added your vote to this issue in our backlog.

[2017-04-10 22:58] thinkingserious opened #108 "Add CustomArgs example to USE_CASES.md"
#### Issue Summary

https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/personalizations.html
https://github.com/sendgrid/sendgrid-go/blob/master/USE_CASES.md

[2017-04-10 22:58] thinkingserious opened #109 "Add Attachments example to USE_CASES.md"
#### Issue Summary

https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/personalizations.html
https://github.com/sendgrid/sendgrid-go/blob/master/USE_CASES.md

[2017-04-10 22:58] thinkingserious opened #110 "Add Substitutions example to USE_CASES.md"
#### Issue Summary

https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/personalizations.html
https://github.com/sendgrid/sendgrid-go/blob/master/USE_CASES.md

[2017-04-10 23:00] thinkingserious opened #111 "Add examples from "Personalizations Example Index" to USE_CASES.md"
#### Issue Summary

https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/personalizations.html
https://github.com/sendgrid/sendgrid-go/blob/master/USE_CASES.md

[2017-04-13 23:18] #85 closed

[2017-04-13 23:20] thinkingserious commented on #94
@suchitparikh are you still interested in closing this one out?

[2017-05-02 21:02] #106 closed

[2017-05-02 21:07] thinkingserious commented on #86
Please follow this project for continued progress: https://github.com/sendgrid/sendgrid-go/projects/2

[2017-05-02 21:07] #86 closed

[2017-05-02 21:09] thinkingserious commented on #64
The examples have been updated: https://devcenter.heroku.com/articles/sendgrid#golang

Thanks!

[2017-05-02 21:10] thinkingserious commented on #79
The examples have been updated: https://devcenter.heroku.com/articles/sendgrid#golang

Thanks!

[2017-05-02 21:10] #79 closed

[2017-05-02 21:10] thinkingserious commented on #71
Please see this thread for continued conversation: https://github.com/sendgrid/sendgrid-go/issues/71

Thanks!

[2017-05-02 21:10] #71 closed

[2017-06-13 14:00] mikepc opened #112 "V3 API Documentation Broken?"
#### Issue Summary

The README's must not be up to date with the latest version of the sendgrid-go repository, the example that is cited is simply not in the examples directory. Normally this wouldn't be such a huge deal but apparently the V3 API has changed dramatically so the documentation would be most welcomed.

#### Steps to Reproduce
1. Follow instructions at https://github.com/sendgrid/send

[2017-06-13 23:15] thinkingserious commented on #112
Hello @mikepc,

Thank you for the detailed feedback!

I have added this to our backlog for a deeper review.

In the mean time, I hope this example will help: https://github.com/sendgrid/sendgrid-go/blob/master/examples/helpers/mail/example.go#L32

With Best Regards,

Elmer

[2017-06-15 03:08] #87 closed

[2017-06-22 23:50] Carpetsmoker opened #113 "Problem using name with @ in it with /v3/mail/send"
Sending emails to a customer with a `@` in the customer name doesn't quite work; specifically when we do something like this:

	p := mail.NewPersonalization()
	p.AddTos(&mail.Email{
		Name: "martin+sg@arp242.net LAST",
		Address: "martin+sg@arp242.net",
	}

Which gets added to the JSON as expected:

    "personalizations": [
        {
            "to": [
                {
                    "name

[2017-06-23 16:05] thinkingserious commented on #113
Thank you for the detailed issue report @Carpetsmoker!

I've added this to our backlog for review and fix.

We do actively accept PRs if you want to contribute.

With Best Regards,

Elmer

[2017-06-23 16:33] Carpetsmoker commented on #113
Sure, but the thing is that I don't know if this is a bug in the Go client library or in the API itself. What *exactly* needs escaping? What happens if I want to use a literal `"` in the name? How should I encode that? As far as I've been able to find this isn't documented in SendGrid anywhere.

[2017-06-23 17:52] thinkingserious commented on #113
@Carpetsmoker,

I'm not quite sure either, when this came up on my backlog I was planning to use cURL to ping the API directly, [like so](https://sendgrid.com/docs/Classroom/Send/v3_Mail_Send/curl_examples.html).

Thanks!

[2017-07-01 00:39] felixguertler opened #115 "Quick Start helper function example broken"
1. Run the code from the quickstart example (https://github.com/sendgrid/sendgrid-go#with-mail-helper-class) with the latest version
2. see this in your inbox:
![image](https://user-images.githubusercontent.com/2972170/27757782-0b1ffd08-5dbb-11e7-8988-3adee0cbf941.png)

[2017-07-03 14:30] Depado commented on #115
Hi @felixguertler
I opened the PR #116 which fixes this. The bug is that the mimetypes aren't correctly filled in the `NewSingleEmail` function.

[2017-07-03 23:39] thinkingserious commented on #115
You are awesome @Depado!

@felixguertler,

We'll be getting that merged soon, please follow that PR for progress.

[2017-07-03 23:39] #115 closed

[2017-07-04 08:30] Depado commented on #115
Thanks @thinkingserious 🎆 🎉

[2017-07-11 15:45] #113 closed

[2017-10-01 05:16] #81 closed

[2017-10-01 05:31] #90 closed

[2017-10-01 05:31] #89 closed

[2017-10-01 05:31] #88 closed

[2017-10-01 23:04] leandro-lugaresi commented on #94
@thinkingserious Got this one! But I have a question.

[2017-10-02 01:23] thinkingserious commented on #94
@leandro-lugaresi,

Please hold on this one. We have an incoming issue this week that will likely make this issue obsolete.

Thanks!

With Best Regards,

Elmer

[2017-10-02 12:46] srini156 commented on #64
@thinkingserious - Please have a look at this - https://goreportcard.com/report/github.com/sendgrid/sendgrid-go

Let me know if this is something you're looking to add. I would definitely love to contribute.

[2017-10-03 04:07] srini156 commented on #99
@thinkingserious - can you help me with some pointers, this looks like something I could take up.

[2017-10-03 06:35] tariq1890 commented on #99
I beg to differ here. If I may opine, sendgrid.API is a generic API call and its purpose is to send a request and receive a response. The sendgrid.API() call here is functioning correctly in that it takes in a request and returns the appropriate response successfully. So the err being returned as nil is correct in this case.

I feel @mholt 's approach is the correct way to go (rather than calling

[2017-10-03 07:48] tariq1890 commented on #100
@thinkingserious . I would like to help with this. But I am not sure I understand this issue completely. Isn't the rate limit already implemented for the SendGrid API? i.e. - https://api.sendgrid.com/v3/resource HTTP/1.1

Or are you looking to implement the rate-limiting logic in the sendgrid-go codebase ?

[2017-10-03 14:56] #108 closed

[2017-10-04 02:27] thinkingserious commented on #100
Hi @tariq1890,

We are looking for a solution similar to [this one](https://github.com/sendgrid/php-http-client/pull/23). I hope that helps!

With Best Regards,

Elmer

[2017-10-04 02:33] thinkingserious commented on #99
Hi @srini156,

I think documenting @mholt's method would be sufficient to close this one out, as mentioned by @tariq1890.

If you want to make that PR, please do so [here](https://github.com/sendgrid/sendgrid-go/blob/master/TROUBLESHOOTING.md#error).

Thanks for the feedback @tariq1890!

With Best Regards,

Elmer

[2017-10-04 04:14] leandro-lugaresi commented on #100
This isn't a good idea! This is one kind of error that the user *must* handle.
In some cases, sleep and retry can be a nice way (queues?) but if this is done on a request lifetime the application must handle using another way.

[2017-10-04 04:54] thinkingserious commented on #100
Thanks for the feedback @leandro-lugaresi.

Since we have users asking for this, I like the idea of making it optional and off by default.

I also think we should document how this could be handled by the user as you suggest [here](https://github.com/sendgrid/sendgrid-go/blob/master/USE_CASES.md). Would you be interested in making a PR for documenting best practices? That would at least be a mediu

[2017-10-04 14:48] leandro-lugaresi commented on #100
I can make this PR but first how we will handle the rate-limit?
If you want the possibility of retry automatically we can create an option to do this (sleep+retry) and the default would return a specific error type with the information of the rate limit?

[2017-10-04 15:01] tariq1890 commented on #100
Yes. If I understand what Elmer said, by default we will just return a 429. The users can a use a flag if they want to  sleep and retry on reaching rate limit.

[2017-10-04 15:40] thinkingserious opened #124 "Dockerize"
We want to make it easier to test and/or contribute to this repo utilizing Docker. This has been completed in [Python](https://github.com/sendgrid/sendgrid-python/tree/master/docker), please use that example as a reference.

Key features:
* Setup the environment as specified in the CONTRIBUTING.md file
* Prism should be running on launch
* The README and USAGE file should help the user get up and

[2017-10-04 15:59] thinkingserious opened #125 "Auto Generate Plain Text Content from HTML"
We require both HTML and Plain Text content for improved deliverability. In some cases, only HTML may be available. We need a function that automatically converts a given HTML string to the Plain Text equivalent.

[2017-10-04 16:59] empijei commented on #125
Some details:
1. Is the HTML always going to be well formatted?
1. Will it ever contain tags that have to be sanitized/removed such as `<script>` or can we assume it is going to be email-like HTML?

If it is the latter I can take care of this, just tell me where to implement it and the contract/API you want me to respect/export.

If you have any edge-case examples/test cases in mind to help me und

[2017-10-04 17:48] leandro-lugaresi commented on #125
@empijei this library can help: https://github.com/microcosm-cc/bluemonday

[2017-10-04 17:59] empijei commented on #125
@leandro-lugaresi are you sure that is what this issue is about?

[2017-10-04 18:05] leandro-lugaresi commented on #125
If the plain text email is not provided the library will generate the text using the HTML provided?

[2017-10-04 20:58] tariq1890 commented on #100
@thinkingserious This requires a change in the [rest](https://github.com/sendgrid/rest) repository rather than sendgrid-go

I also see that there is this issue #94 where you guys are planning on phasing the dependency out. I can continue working on this once issue #94 is closed.

[2017-10-04 21:04] tariq1890 opened #126 "Update Travis YML to use the new go versions while building"
Right now Travis YML only triggers a build with go 1.6 which is too old.

[2017-10-04 21:08] empijei commented on #125
Why not use https://godoc.org/golang.org/x/net/html#TokenType TextToken?

[2017-10-05 01:52] blockloop commented on #124
Looking into this

[2017-10-05 07:54] empijei commented on #125
I was thinking about a more simple and easier to maintain piece of code like:
[code]

That, if run on
[code]

Returns:
[code]

[2017-10-05 14:36] thinkingserious opened #131 "Create a tutorial to deploy a simple Hello Email app on AWS with Go using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and deploy to AWS.

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:41] thinkingserious opened #132 "Create a tutorial to deploy a simple Hello Email app on Heroku with Go using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Heroku](https://devcenter.heroku.com/articles/heroku-button).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:46] thinkingserious opened #133 "Create a tutorial to deploy a simple Hello Email app on Digital Ocean with Go using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Digital Ocean](https://www.digitalocean.com/community/tutorials/how-to-set-up-automatic-deployment-with-git-with-a-vps).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to US

[2017-10-05 14:52] thinkingserious opened #134 "Create a tutorial to deploy a simple Hello Email app on IBM Blue Mix with Go using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to IBM Blue Mix](https://www.ibm.com/blogs/bluemix/2016/01/deploy-to-bluemix-button-example/).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:54] thinkingserious opened #135 "Create a tutorial to deploy a simple Hello Email app on Google App Engine with Go using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Google App Engine](https://cloud.google.com/).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 14:55] thinkingserious opened #136 "Create a tutorial to deploy a simple Hello Email app on Microsoft Azure with Go using this SDK"
Create a tutorial that explains how to create a simple Hello Email app and [deploy to Microsoft Azure](https://docs.microsoft.com/en-us/azure/app-service/app-service-deploy-local-git).

The example should utilize best practices for storing credentials. By the end of the tutorial, the user should be able to send an email using their deployed app.

Please add the tutorial to USE_CASES.md.

[2017-10-05 15:32] hownowstephen commented on #125
I wrote https://github.com/mailproto/textplain awhile back for usage with [Customer.io](https://customer.io) deliveries. It's a fairly faithful port of the [html_to_plain_text.rb](https://github.com/premailer/premailer/blob/master/lib/premailer/html_to_plain_text.rb) module from the ruby Premailer gem that may fit the bill here!

It's not perfect (not really possible with email, any complicated la

[2017-10-05 16:43] dhoeric commented on #124
I will take a try!

[2017-10-06 06:31] tariq1890 commented on #94
@thinkingserious When would this be closed?

[2017-10-06 13:54] thinkingserious opened #140 "Create a tutorial to create a Slack event integration with Go using this SDK"
Create a tutorial that explains how to create a simple [integration with Slack](https://api.slack.com/events-api) that allows an email to be triggered based on some [defined event](https://api.slack.com/events).

The example should utilize best practices for storing credentials.

Please add the tutorial to USE_CASES.md.

[2017-10-06 14:07] LiYChristopher commented on #140
I'll take this one @thinkingserious

[2017-10-08 17:19] CarsonHoffman commented on #133
@thinkingserious I think I'll be able to take this one :)

Just so I know what I'm going for, could you give me a little context as to 'best practices' with credentials? I see that the current examples use an environment variable to store the key, but I wasn't exactly sure if that's fine.

[2017-10-09 05:17] leandro-lugaresi commented on #125
@thinkingserious we have 3 open PR for this issue. What do you think about the 3 solutions?

[2017-10-09 20:16] tariq1890 commented on #126
Thanks for the merge! I am closing this

[2017-10-09 20:16] #126 closed

[2017-10-10 00:08] #99 closed

[2017-10-10 18:58] thinkingserious opened #150 "Subscription Widget Helper"
Create a helper that will show how to add a working subscription widget to their site from code in the library.

Features:
- An function that returns an embeddable HTML form that takes email address and name
- The form should submit to a customizable URL path
- The code at the URL path should accept the data and post it to the contactdb using the (POST Add Recipients endpoint)[https://sendgrid.com

[2017-10-10 20:21] thinkingserious opened #151 "Add a Code Of Conduct"
Add a file to the root of this repo called CODE_OF_CONDUCT.md, with the content from the [same file in our docs repo](https://github.com/sendgrid/docs/pull/3048).

[2017-10-10 20:40] thinkingserious opened #152 "Go Mail Helper Refactor"
#### Issue Summary

An interface to easily interact with the `mail/send` endpoint of the [SendGrid v3 Web API](https://sendgrid.com/docs/API_Reference/api_v3.html).

The specification for this project is [here](https://github.com/sendgrid/sendgrid-go/blob/master/proposal/mail-helper-refactor.md) and the discussion around this specification can be found [here](https://github.com/sendgrid/sendgrid-p

[2017-10-10 20:40] suchitparikh commented on #152
I got it

[2017-10-10 20:44] thinkingserious commented on #152
@dtjm @extemporalgenome @Dharmik-Patel @deckarep @0sc @berto

If you are tagged on this message, it means we are particularly interested in your feedback :)

If you don't have the time, no worries and my apologies for the disturbance.

If you do have the time, please take a look at the proposed helper upgrade above and let us know what you think. Any and all feedback is greatly appreciated.

Thank

[2017-10-10 21:23] y9mo commented on #150
Happy to work on this if that's ok

[2017-10-10 22:19] thinkingserious opened #154 "Make SendGrid permissions management easy"
Create a class for managing permission scopes that has the following features:

- Allow you to add create, delete, read, update permissions for each of the groups defined [here](https://sendgrid.com/docs/API_Reference/Web_API_v3/API_Keys/api_key_permissions_list.html)  -- these can be hard coded in
- Allow for creating an array of all the scopes possible, as a "create admin permissions" method
- A

[2017-10-11 02:45] #151 closed

[2017-10-11 19:12] tariq1890 commented on #154
I can take this up!

[2017-10-11 19:14] thinkingserious commented on #154
Thank you @tariq1890!

[2017-10-12 20:43] thinkingserious opened #156 "Save inbound email attachments to S3"
When emails come to inbound parse, sometimes they have attachments
It would be nice to be able to send the files to an S3 bucket when they are received

[2017-10-12 21:08] thinkingserious commented on #150
Awesome, thanks @y9mo!

[2017-10-12 21:28] thinkingserious opened #157 "Save inbound email attachments to Box"
When emails come to inbound parse, sometimes they have attachments
It would be nice to be able to send the files to a Box account when they are received

[2017-10-12 22:08] zujko commented on #135
@thinkingserious I can pick this one up.

[2017-10-12 22:10] thinkingserious commented on #135
Thanks @zujko!

[2017-10-13 02:00] thinkingserious opened #159 "Save inbound email attachments to Dropbox"
When emails come to inbound parse, sometimes they have attachments
It would be nice to be able to send the files to a Box account when they are received

[2017-10-13 18:32] tariq1890 commented on #156
Curious. Won't this require an aws-sdk dependency? If so, we would need to consider the dependency management method?

[2017-10-13 19:43] thinkingserious opened #161 "Add How to Setup a Domain Whitelabel and How to View Email Statistics to USE_CASES.md"
Please see [this](https://github.com/sendgrid/sendgrid-csharp/blob/master/USE_CASES.md#how-to-setup-a-domain-whitelabel) for an example.

[2017-10-13 19:47] thinkingserious commented on #156
Hi @tariq1890,

I'm not sure if it would require a aws-sdk dependency. I was hoping it would be a matter of providing your AWS credentials and executing an API call.

[2017-10-13 19:58] ajurasz commented on #161
@thinkingserious this looks like a good starting point to get familiar with the library. I will work on this one.

[2017-10-13 20:13] thinkingserious commented on #161
Thanks @ajurasz!

[2017-10-14 19:40] vaskoz opened #162 "Go Vet found some wrong types in printf verbs"
#### Issue Summary

Running `go vet ./...` produced the following issues:
[code]

#### Steps to Reproduce

1. `go get -d github.com/sendgrid/sendgrid-go`
2. `go vet github.com/sendgrid/sendgrid-go/...`
3. Results in the errors above.

Any other information you want to share that is relevant to the issue being reported. Especially, why do you consider this to be a bug? What do you expect to happen

[2017-10-14 19:46] vaskoz commented on #162
Created this PR https://github.com/sendgrid/sendgrid-go/pull/163 to fix the wrong types in printf verbs.

[2017-10-15 09:07] karuppiah7890 commented on #156
@thinkingserious Yes, you are right, it just requires sending HTTP requests and getting response. But there are already some libraries that have a wrapper around the API just like sendgrid has a go lib around sendgrid API. I don't think the entire AWS SDK would be necessary though (since that would be heavy with functions for API calls for all AWS services) and we could just get the lib for S3

[2017-10-16 04:31] javouhey commented on #159
I think your text above should read _send the files to a dropbox account_.
Where will this code reside in your sendgrid-go project? Is this going to be published as an example code ?

[2017-10-16 13:53] thinkingserious opened #166 "Attach files to email from S3"
This should be added to the Mail helper method, where the file that is attached can be sitting on an S3 bucket.
In most circumstances, for Spam detection reasons, it would be better to link to the file- however, there are legitimate use cases for attaching a file. Exaple: Receipt PDFs

[2017-10-16 13:54] thinkingserious opened #167 "Attach files to email from Box.com"
This should be added to the Mail helper method, where the file that is attached can be sitting in Box.com storage.
In most circumstances, for Spam detection reasons, it would be better to link to the file- however, there are legitimate use cases for attaching a file. Exaple: Receipt PDFs

[2017-10-16 13:55] thinkingserious opened #168 "Attach files to email from Dropbox"
This should be added to the Mail helper method, where the file that is attached can be sitting in Dropbox.
In most circumstances, for Spam detection reasons, it would be better to link to the file- however, there are legitimate use cases for attaching a file. Exaple: Receipt PDFs

[2017-10-16 14:03] thinkingserious opened #169 "Prevent secrets from sending in email"
Add a method that will check the content of the email before sending, to make sure that specific strings or patterns are not included.
For example, SG API keys look like this: SG.[a-zA-Z0-9_].[a-zA-Z0-9\-]
So the function could take a list of regex or specific strings to compare against. If a string is found, the mail/send should throw an exception

[2017-10-16 14:07] thinkingserious opened #170 "Create and schedule a marketing campaign"
With the [SendGrid Marketing Campaigns feature](https://sendgrid.com/docs/API_Reference/api_v3.html#campaigns) you can create a campaign, edit it, then schedule it for the future or for 'now'.

Create a helper that uses the API to build the campaign.

Then add the ability to build + schedule, build + send now, or only build the campaign
Please also add the ability to notify a specific email addres

[2017-10-16 14:42] thinkingserious opened #171 "Scheduling 1000-1,000,000 emails in batches"
When someone wants to send thousands or millions of the same email, they will create a call to our mail/send endpoint and break the list of emails and thr substitutions into batches of 1000 emails per request to the SendGrid API. This is great, except that there are a couple caveats:
1. [Mail Send Limitations](https://sendgrid.com/docs/API_Reference/api_v3.html) - see the field level limits here
2

[2017-10-16 14:47] thinkingserious opened #172 "Get all the stats for a date range"
We have various types of stats global stats, category stats, and subuser stats.
For some users, being able to pull these stats and send them somewhere is ideal.
Please create a nice helper for pulling stats from each of these locations so that the data can be sent to a database.

[2017-10-16 14:51] thinkingserious opened #173 "Get unassigned IPs"
SendGrid returns a list of all IP addresses on your account. It also returns a list of assigned IP addresses.

What it doesn't do is return a list of unassigned IPs.

Please create a method that will get the IPs available and return any that do not have a subuser assigned to them.

See [GET /ips](https://sendgrid.com/docs/API_Reference/api_v3.html#ip-addresses) for more information.

[2017-10-16 15:00] thinkingserious opened #174 "Create whitelabel DNS entries via the API"
The SendGrid API allows you to do almost everything that the UI can do, including building your whitelabels (sender authentication) into your account. This requires a domain you can create subdomains on and some creativity to decide what to call the subdomains.

We have 3 kinds of whitelabeling: domain(aka domain authentication), link (aka link rebranding), and ip (reverse DNS).

Link Rebranding a

[2017-10-16 16:12] NexWeb commented on #169
[code]

Usage:
[code]

[2017-10-16 19:43] #161 closed

[2017-10-16 23:21] zujko commented on #173
@thinkingserious I can pick this up!

[2017-10-17 15:59] thinkingserious opened #177 "Attachment helper for base64 encoding"
We have an example in USE_CASES.md on how to handle attachments.

We need to update the `Attachment` object such that it can also take in a raw file, rather than a base64 encoded file, and perform the base64 encoding behind the scenes.

Note that the total size of your email, including attachments, must be less than 30MB. The total size is calculated from the entire JSON payload. Note that you wil

[2017-10-17 16:16] thinkingserious opened #178 "Demonstrate how to review the request body for troubleshooting"
When debugging, it can be useful to examine the request body before sending to the SendGrid API.

Prove an example of how to examine the request body in TROUBLESHOOTING.md. For an example, see [here](https://github.com/sendgrid/sendgrid-python/blob/master/TROUBLESHOOTING.md#request-body).

[2017-10-18 00:15] LiYChristopher commented on #177
I'll take this one. :)

[2017-10-18 19:00] thinkingserious opened #180 "SendGrid Event Webhook consumer"
The SendGrid event webhook will send email events to a URL of your choosing. Add functionality that will consume event webhook events posted
to your server by SendGrid. Documentation: https://sendgrid.com/docs/API_Reference/Webhooks/event.html

[2017-10-18 21:27] tariq1890 commented on #171
I checked the mail send limitations. I was wondering if the mail/send API call would validate against these known limitations and send 400 Bad Request in case of a violation for eg:- would the api return a 400 response if we included mails that were over 10 MB of space?

[2017-10-19 12:29] techtide commented on #167
A couple questions:

- Would the link be downloaded and moved into an attachment or would the link simply be included in the e-mail itself?
- Do we implement a way for the legitimate use cases mentioned for manually attaching a file? If so, is there already a way to determine if attaching a file manually would be appropriate and would not trigger spam filters?

[2017-10-19 21:02] mbernier opened #183 "Allows users to submit rfc822 formatted email addresses"
#### Issue Summary

Similar to: https://github.com/sendgrid/sendgrid-python/pull/348

Where the user can submit email addresses as:
`example@example.com`
or
`example example <example@example.com>`

[2017-10-20 05:50] sent-hil commented on #180
@thinkingserious Hello, I'd like to take a wack at this if it's not already taken?

Do you've any thoughts about implementation? I was thinking of a single channel that'll receive interface{} that can be cast into the appropriate event.

Here's some pseudo code

[code]

[2017-10-20 15:42] mbernier commented on #167
A1: It would be downloaded and added as an attachment

A2: Adding an attachment is already a feature of the API endpoint and the mail/send helper :) Checking it for whether it is spam compliant is a whole other animal.

[2017-10-20 20:03] thinkingserious commented on #94
Hi @tariq1890,

https://github.com/sendgrid/sendgrid-go/issues/152 will close this one. Thanks!

[2017-10-20 22:03] thinkingserious opened #184 "Update README for SEO-ness"
We received an awesome PR for #hacktoberfest on our [ruby library](https://github.com/sendgrid/sendgrid-ruby/pull/220)
We would love to see the same thing on the README in this repo as well.
Please replace the "-" with "_"  in README, CONTRIBUTING, USE_CASES, USAGE files.

Thanks and happy Hacktoberfest!!

[2017-10-20 22:20] thinkingserious opened #185 "Add/Update Badges on README"
Similar to what was done on [the SendGrid node README](https://github.com/sendgrid/sendgrid-nodejs/pull/486):
- put the logo at the top of the list
- Add [License like so](https://github.com/sendgrid/sendgrid-php/pull/476)
- make sure the other badges are available like so:
[code]
For the following, make sure the correct repo is linked!
For email notifications, you can change the "nodejs" to the l

[2017-10-21 01:31] curx commented on #185
I'd like to take this :-)

[2017-10-21 21:04] #185 closed

[2017-10-21 21:04] mbernier commented on #185
@curx I am sorry, it looks like #185 beat you to this one...

[2017-10-21 21:36] #184 closed

[2017-10-21 21:40] mbernier opened #190 "Go Report Card gave us a D :("
#### Issue Summary

We have some issues as reported by our nifty new Go Report Card badge in the readme. Can you fix [these issues up](https://goreportcard.com/report/github.com/sendgrid/sendgrid-go)?

#### Steps to Reproduce

1. Go to the link above, see the sadness

#### Technical details:

* sendgrid-go Version: master
* Go Version: 1.5.1

It's hacktoberfest and we're giving away a shirt for an

[2017-10-21 21:46] #178 closed

[2017-10-22 03:56] mbernier commented on #190
Looks like #121 does some of this, then #148 potentially as well.

[2017-10-22 04:18] tariq1890 commented on #190
Hi @mbernier, #148 does fix it. However, the GoDoc messages could be more descriptive. If we could reach out to the developer who provided that PR, we could ask him to improve the GoDoc comments.

As of now, No PR fixes the gocyclo issues. I can take that up. To fix it, I can write a helper assert methods to assert the values in test cases. This way we don't have a high number statements just to a

[2017-10-22 04:46] tariq1890 commented on #183
Submitted #194 for this.

[2017-10-22 11:59] nafisfaysal opened #195 "Make Getenv("message") parameter more professional"
#### Issue Summary
we use ```os.Getenv()``` for Sendgrid API key helper.We pass the message like  ```apiKey := os.Getenv("YOUR_SENDGRID_APIKEY")```.I think it will be more professional like if we use ```apiKey:= os.Getenv("SENDGRID_API_KEY")``` .

#### Steps to Reproduce
1. Find the Getenv or apikey variable and change it ```os.Getenv("YOUR_SENDGRID_APIKEY")``` instead ```os.Getenv("SENDGRID_API_K

[2017-10-22 12:47] srini156 commented on #190
@mbernier  @tariq1890 - I have created merge request #196 for fixing the `gocyclo` issue. Please let me know your comments.

[2017-10-22 13:03] srini156 commented on #166
@thinkingserious - do you have a proposal document as to how to approach this? I can take this up given some direction.

[2017-10-22 15:06] thinkingserious commented on #125
Hi @leandro-lugaresi,

I have not checked them out yet, but I hope to do so soon.

My apologies on the delay.

With Best Regards,

Elmer

[2017-10-22 16:58] #162 closed

[2017-10-22 21:55] NafisFaysal commented on #195
@thinkingserious I am waiting for your comment on this issue :smile:

[2017-10-22 22:12] Cleanse commented on #190
Will finish the golint issues for you here after dinner.

[2017-10-22 23:47] tkbky commented on #172
@thinkingserious

I'm not totally sure what kind of helpers we're looking at here, so I want to check is the following sufficient? Personally, I don't really find it super useful 😅 (basically just expose the query params with a `struct` instead of a `map`), hence would like to have some suggestions.

[code]

[2017-10-23 01:43] hannahapuan commented on #195
Working on this..

[2017-10-23 03:20] Cleanse commented on #190
#200

[2017-10-23 20:06] thinkingserious commented on #156
Hi @tariq1890, @karuppiah7890,

After some further thought, I think we don't need this code in the library. Instead, we can include the functionality in USE_CASES.md and keep the sample code in examples/S3.

With Best Regards,

Elmer

[2017-10-24 00:30] mbernier opened #203 "IP Warmup functionality integrated into mail helper"
This issue has the potential to save other developers quite a bit of time and frustration when buying IP addresses because it will help them warm up the IPs appropriately. Warming up is a process of slowly ramping up sending on an IP address to allow Email Recipient servers (e.g. gmail, hotmail, etc) to see that this IP is legit.

## Goal
- Add the ability to automate warm up IPs that allows a cus

[2017-10-24 03:53] #64 closed

[2017-10-24 03:53] LiYChristopher commented on #177
@thinkingserious interface wise - do you think this is better as an alternate initialization function like `mail.NewAttachment()` is, or as a method where `*Attachment` is the receiver?

[2017-10-24 04:38] tariq1890 opened #204 "Rename all methods under the example package to make them Pascal Case"
The first letter of each word in the method name can be uppercased and the 'a' article dropped.
For eg:-
DeleteaCampaign should be converted to DeleteCamapaign.

[2017-10-24 04:59] tariq1890 commented on #204
I'll be working on this.

[2017-10-24 19:42] thinkingserious opened #208 "Create email module class to enable easier drag-drop template creation over API"
The drag-drop editor allows API upload of HTML, but it must conform to a specific standard in order for the editor to render the emails properly.

Create an email module class that allows a user to call a static function that will output the HTML for the module.

The specific module HTML is here: https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/design_editor.html#-Drag--Drop-Code-Examples

[2017-10-25 21:51] zujko commented on #173
I have a few questions about this.
Where exactly would this function be implemented? The sendgrid package?
Would the function return a struct similar to the response of ```/ips/assigned```  or would it be JSON?

[2017-10-26 20:13] thinkingserious opened #209 "Create a PULL_REQUEST_TEMPLATE"
#### Issue Summary

We would like to have a template for describing what has changed in the pull request being submitted.

[Github docs on this](https://help.github.com/articles/creating-a-pull-request-template-for-your-repository/)

You can use [this file](https://github.com/sendgrid/open-source-library-data-collector/blob/master/.github/PULL_REQUEST_TEMPLATE.md) as an example

[2017-10-27 00:01] thinkingserious opened #212 "Add a .env_sample file"
Our preference is that users have an environment file when using the SendGrid API, because it is less likely that someone would commit their credentials to github.

Please make a couple changes:
- make a .env_sample file that contains: `export SENDGRID_API_KEY=''`
- make (or add) a .gitignore file and include `.env`
- add instructions to the README file about how to copy .env_sample to .env and ad

[2017-10-27 00:38] thinkingserious opened #213 "Add a USAGE.md file"
Usage files are really nice when they exist in a repo, because it makes it really obvious where to look for information about how to use this tool. It can be frustrating when you expect this file to be there and it's not.
Please add a USAGE.md file, you can see an example of this
[here](https://github.com/sendgrid/sendgrid-python/blob/master/USAGE.md)

Please make sure you modify the file for this

[2017-10-27 00:40] mbernier commented on #213
Do you want dupes? cuz you got 'em

[2017-10-27 00:40] #213 closed

[2017-10-27 18:28] mbernier opened #218 "Replace 'testing' with Testify"
#### Issue Summary

[Testify](https://github.com/stretchr/testify) allows you to use assertions instead of if statements for testing.

[2017-10-27 18:36] mbernier commented on #218
@siyegen This is a good one! It's all yours

[2017-10-27 19:56] juan88 commented on #209
I'm not a much experienced go developer but can I give it a try?

[2017-10-27 21:38] tariq1890 commented on #218
@mbernier Before we add testify, I feel we should think about dependency management tool for sendgrid-go.

We could choose between govendor, go deps and glide. Thoughts?

[2017-10-27 21:49] vaskoz commented on #218
@tariq1890 re: dependency management ... instead of [godep](https://github.com/tools/godep) or those others you listed, I think the core Go team is intending to standardize and include [dep](https://github.com/golang/dep) in the Go 1.10 toolchain. Take a look at the [dep roadmap](https://github.com/golang/dep/wiki/Roadmap)

[2017-10-27 21:54] tariq1890 commented on #218
@vaskoz It'll be a while until this is released and stable. Won't we need another dependency management solution until dep is fully merged into the go toolchain?

[2017-10-28 04:34] thinkingserious opened #219 "Add a .codeclimate.yml file to this repo"
It is possible to configure how CodeClimate looks at a repository.
[These Docs](https://docs.codeclimate.com/docs/getting-started-configuration) explain how this is done. Please create an appropriate .codeclimate.yml for this repo. It should test the main language of the repo and run tests.

[2017-10-28 04:36] mbernier commented on #219
CodeClimate is not available for Go

[2017-10-28 04:36] #219 closed

[2017-10-28 15:18] vaskoz commented on #218
@tariq1890 Sorry, I was too brusk with my earlier comment. I meant to say that SendGrid engineers use [github.com/golang/dep](https://github.com/golang/dep) for our production application vendor-ing needs.

However, I forgot to mention that since `sendgrid-go` is a **library and not an application**, we do not vendor dependencies per community conventions. No vendor-ing solution is necessary for o

[2017-10-28 15:24] thinkingserious opened #220 "Update the license file to have the correct date range"
This license file might have the wrong end year (2017). If this is the case, please make a PR that updates the year. If the year is correct, please close this issue!

[2017-10-28 15:30] thinkingserious opened #221 "Add a unittest to check the license.md file date range"
The end year in the license file should be "this year" and this should be checked on every run of the tests. If the end year is no correct, fail the test.
example:

It is 2017, so this should be:

and the  test should fail.
--done

[2017-10-28 15:38] thinkingserious opened #222 "Add unittest to check for specific repo files"
This repo should have the following list of files included:
- ./Docker or docker/Docker
- ./docker-compose.yml or ./docker/docker-compose.yml
- ./.env_sample
- ./.gitignore
- ./.travis.yml
- ./.codeclimate.yml
- ./CHANGELOG.md
- ./CODE_OF_CONDUCT.md
- ./CONTRIBUTING.md
- ./.github/ISSUE_TEMPLATE
- ./LICENSE.md
- ./.github/PULL_REQUEST_TEMPLATE
- ./README.md
- ./TROUBLESHOOTING.md
- ./USAGE.md
- ./

[2017-10-28 16:06] #220 closed

[2017-10-28 17:29] #209 closed

[2017-10-28 22:57] #221 closed

[2017-10-29 04:25] mbernier opened #227 "Add megacheck to TravisCI checks"
#### Issue Summary

Issue #215, came to be due to a code checking tool called [Megacheck](https://github.com/dominikh/go-tools/tree/master/cmd/megacheck)

It would be awesome to have this running and breaking Travis builds if it finds something wrong with this library.

[2017-10-29 04:27] mbernier commented on #227
I created a similar Issue in our 2 other Go repos:
- https://github.com/sendgrid/smtpapi-go/issues/50
- https://github.com/sendgrid/rest/issues/57

[2017-10-29 04:32] vaskoz commented on #227
I'll take this one.

[2017-10-29 07:06] vaskoz commented on #227
Why use a single linter like **megacheck** when you can use all-of-them with [GoMetaLinter](https://github.com/alecthomas/gometalinter#supported-linters)?

[2017-10-29 13:11] catlinman commented on #190
#224: Made a PR which fixes spelling as shown to be an issue on the Go Report Card. Also modified some formatting inconsistencies in a few of the comments in the same file. Should be an easy merge.

[2017-10-29 17:37] nvzard commented on #212
Please close this issue

[2017-10-29 20:19] #190 closed

[2017-10-30 03:03] #124 closed

[2017-10-30 17:33] mbernier opened #230 "Add CodeCov support to .travis.yml"
Issue Summary

Add this to our travis.ci configuration so that code coverage tests will run!

https://github.com/codecov/example-go/blob/master/.travis.yml

[2017-10-30 17:44] cglewis commented on #230
I'll take this one.

[2017-10-31 16:10] mbernier opened #235 "Hacktoberfest: SendGrid Current Status"
## SendGrid DX team current status:
- Wow
- OMG
- THANK YOU

Hacktoberfest 2017 has completely blown us away. We have had over 900 pull requests from over 300 contributors all in the last 30 days. That is more PRs than we normally get in 2 years!
We are actively working to review, comment, and/or merge as many PRs as we possibly can as quickly as we can.

We are currently working on “intaking” all

[2017-10-31 19:12] thinkingserious opened #236 "Add Code Review to Contributing.md"
- Add a "Code Reviews" section on CONTRIBUTING.md
- Put the following under the header:

- Link the header in the Contributing.md Table of Contents
- Add a link to the README.md file: [Review Pull Requests]("CONTRIBUTING.md#Code-Reviews") under "Contributing Section"

[2017-10-31 20:06] thinkingserious commented on #125
Hello Everyone!

Big thanks to all of you for solid solutions!

I suggest that we merge in the solution that does not require a third party solution and provide the other two solutions in the USE_CASES.md document so that others may implement if they don't mind the dependencies.

All 3 of year will earn the [hacktoberfest](https://sendgrid.com/blog/announcing-hacktoberfest-2017/) swag for your con

[2017-10-31 20:14] thinkingserious opened #237 "Create a Use Cases Directory"
Due to the success we have seen from hacktoberfest, we are seeing more people create use cases. This is amazing!
We want to make sure that everyone can find them. Please help us to break up this file and make it easier to read and manage:
- Create a Use Cases Directory
- Put a README.md in this directory
- Make a file in the new directory for each individual Use Case from USE_CASES.md, copy the co

[2017-10-31 20:23] mptap commented on #236
@thinkingserious: PR: https://github.com/sendgrid/sendgrid-go/pull/238

[2017-10-31 21:51] subandroid commented on #237
Working on this.

[2017-10-31 23:11] thinkingserious opened #239 "Add the ability to impersonate a subuser"
Please see the [Python implementation](https://github.com/sendgrid/sendgrid-python/pull/314) for an example.

[2017-10-31 23:42] jackgardner opened #240 "DefaultClient.API undefined (rest.Client has no field or method API)"
#### Issue Summary

A change was made recently in sendgrid/rest to rename Client.API to Client.Send (https://github.com/sendgrid/rest/pull/19) - currently if someone runs `go get`, this will mean sendgrid-go is broken. We need a PR to bring that change across to this package.

#### Steps to Reproduce

1. `go get -u`
2. Observe the following:
[code]

#### Technical details:

* sendgrid-go Version:

[2017-11-01 08:15] ybjwang commented on #240
I also met this issue. And this issue block our build. Please help fix it. Thanks

[2017-11-01 08:50] jerbob92 commented on #240
I created a MR in sendgrid/rest to fix this for this package and possibly other packages.

https://github.com/sendgrid/rest/pull/68

Obviously #241 should still be merged.

[2017-11-01 12:43] #227 closed

[2017-11-02 02:09] ybjwang commented on #240
@jerbob92  Our build pass , thanks you so much for your work!!

[2017-11-11 17:00] mbernier opened #244 "Test Coverage check should ignore examples?"
#### Issue Summary

There is a [failing test here](https://travis-ci.org/sendgrid/sendgrid-go/jobs/295732352#L1037) that speaks to test coverage on the examples. Should we ignore this directory?

[2017-11-11 17:01] #222 closed

[2017-11-16 18:48] tariq1890 commented on #235
Has anybody got the sendgrid swag?

[2017-11-28 02:09] thinkingserious commented on #244
Yes, we should not be testing the `/examples` directory.

[2017-11-28 17:10] dtjm commented on #152
@thinkingserious which link did you want us to review?

[2017-11-28 21:30] thinkingserious commented on #152
Hi @dtjm!

The relevant links are in the **Issue Summary** above.

Specifically, [this link](https://github.com/sendgrid/sendgrid-go/blob/master/proposal/mail-helper-refactor.md) is the proposed specification and [this link](https://github.com/sendgrid/sendgrid-python/issues/323) is the discussion around that proposal. And the goal is to implement [these use cases](https://github.com/sendgrid/send

[2017-12-07 00:14] Xeoncross opened #245 "Allow Multiple API Keys To Be Set"
#### Issue Summary

Some projects use multiple Sendgrid API keys. Subusers are one use-case.

Replace global calls to `os.Getenv("YOUR_SENDGRID_APIKEY")` with a dependency-injected key so a project can use multiple keys with this library.

[2017-12-11 23:29] #230 closed

[2017-12-14 02:07] thinkingserious commented on #245
This is a great idea @Xeoncross! Thanks for bringing it to light :)

[2017-12-29 10:13] hothero opened #247 "should we have NewBatchEmail function to support multiple recipients?"
As title, currently we only have NewSingleFile to easily get the object to Client.Send, but we need to do more coding like [Example](https://github.com/sendgrid/sendgrid-go/blob/master/examples/helpers/mail/example.go#L44) to send batch emails, should we need a function, such as NewBatchEmail to support this ?

[2018-01-02 22:06] thinkingserious commented on #247
Hello @hothero,

I suggest you provide your feedback [here](https://github.com/sendgrid/sendgrid-go/issues/152) for consideration in the update of this SDK.

Thanks!

With Best Regards,

Elmer

[2018-01-02 22:06] #247 closed

[2018-01-04 07:26] hothero commented on #36
hello @thinkingserious, thanks for your reply on this thread. Recently I have the same question on it, in v3 it still hard to do testing. any idea on that? or I can make pr to create interface and mock for testing? thx

[2018-01-05 02:32] thinkingserious commented on #36
Hi @hothero,

Could you please voice your feedback [here](https://github.com/sendgrid/sendgrid-go/issues/152)? We are in the process of a refactor and your help would be greatly appreciated!

With Best Regards,

Elmer

[2018-01-05 05:09] hothero commented on #36
sure, thx @thinkingserious

[2018-01-05 05:15] hothero commented on #152
Hi, I have two suggestions:

1. we need to define interface and generate mock for user easily to test once they are integrating this package, can reference this issue: https://github.com/sendgrid/sendgrid-go/issues/36

2. we need a kind of `NewBatchEmail` function to support send multiple recipients in the same time, more can reference here: https://github.com/sendgrid/sendgrid-go/issues/247

than

[2018-01-26 00:11] kevinmu opened #251 "SetContentID doesn't actually set content ID for attachments"
#### Issue Summary

I'm trying to send an email with an attachment, and I am trying to set the content ID for that attachment. However, when I select 'view original' in GMail, it appears that the attachment does not have a content ID set. However, the other fields (content-disposition, filename, etc.) seem to be set correctly.

#### Steps to Reproduce

[code]

#### Technical details:

* sendgrid-g

[2018-01-26 03:09] thinkingserious commented on #251
Hi @kevinmu,

Could you please provide the output of `request.Body`?

Thanks!

With Best Regards,

Elmer

[2018-02-15 13:13] ewirch commented on #105
So this is
- closed as "works as designed" or
- closed as fixed?

In case of "fixed": I'm still observing this.
In case of "as designed": what's the reasoning behind this? The rate limit for sending mails is also not documented. How should we know? Is sending mails unlimited?

[2018-02-15 13:18] ewirch commented on #105
Sorry, I actually found the [documentation](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/index.html#-Limitations):

[2018-02-16 09:14] kevinmu commented on #251
Hey, sorry for the delay. This issue is fixed if you use `.SetDisposition("inline")` instead of `.SetDisposition("attachment")`; it was pretty difficult for me to find this, though. I believe I did it through a lot of Googling, as opposed to through any official documentation.

[2018-02-21 03:32] RXminuS commented on #245
Agree, even for single key it feels wrong to enforce env variables, since the rest of our app gets configured using json file.

[2018-03-06 17:45] #235 closed

[2018-03-06 17:46] #212 closed

[2018-03-06 17:47] #204 closed

[2018-03-06 17:55] #111 closed

[2018-03-06 17:56] #110 closed

[2018-03-06 17:56] #100 closed

[2018-03-06 18:17] NafisFaysal commented on #235
@tariq1890 I didn't get my SWAG :disappointed:

[2018-03-06 18:27] thinkingserious commented on #235
Hi @NafisFaysal,

What city/country are you in?

[2018-03-06 18:32] NafisFaysal commented on #235
@thinkingserious I am from Dhaka, Bangladesh.

[2018-03-06 18:33] thinkingserious commented on #235
Ah, then your swag is probably still in route. You should received it within a few weeks.

[2018-03-06 18:34] NafisFaysal commented on #235
@thinkingserious  Thanks for the update. I will update you very soon :smiley:

[2018-03-14 17:58] thinkingserious opened #253 "Updates for the new Email Activity API (beta)"
SendGrid has added an API to download information from the Email Activity feed. There are four new endpoints:
* [GET /messages](https://sendgrid.api-docs.io/v3.0/email-activity/filter-all-messages)
* [GET /messages/{msg_id}](https://sendgrid.api-docs.io/v3.0/email-activity/filter-messages-by-message-id)
* [POST /messages/download/](https://sendgrid.api-docs.io/v3.0/email-activity/request-csv)
* [G

[2018-03-19 15:40] superwhykz opened #254 "Setting multiple contents."
#### Issue Summary

Not able to set multiple contents.

#### Steps to Reproduce
[code]

error

[code]

it is working with one content.

[code]

#### Technical details:

* sendgrid-go Version: master (latest commit: [588320a])
* Go Version: 1.10

[2018-03-20 18:46] thinkingserious commented on #254
Hello @superwhykz,

Thank you for taking the time to report this. It should work as described above; while we investigate, could you please try adding the Content, separately, [like this](https://github.com/sendgrid/sendgrid-go/blob/master/examples/helpers/mail/example.go#L95)?

Thanks!

With Best Regards,

Elmer

[2018-03-21 02:51] superwhykz commented on #254
Hi @thinkingserious,

I get the same result.

[code]

error:

[code]

Thanks,
Askar

[2018-03-22 20:13] thinkingserious commented on #254
Hello @superwhykz,

I'm not quite sure what you are trying to do here. Why are you adding duplicate content to the same message? Generally, you should only be adding one text/html content per message. We do recommend you also include text/plain content.

With Best Regards,

Elmer

[2018-03-26 15:15] superwhykz commented on #254
Hi @thinkingserious,

Those duplicates were just examples.    I am new to Sendgrid so I do not have a full understanding yet.

Basically, I am trying to use transactional templates.   So I thought I can combine multiple contents per method(`AddContent func(c ...*Content) *SGMailV3`) before I embed(<%body%>) into a template.  From your last reply, it seems it is not the case.

Thanks,
Askar

[2018-03-26 20:43] thinkingserious commented on #254
Hello @superwhykz,

You can add duplicate contents, but not of the same mime type. The most common pairing is text/html and text/plain, [like so](https://github.com/sendgrid/sendgrid-go/blob/master/examples/helpers/mail/example.go#L95).

Thanks!

With Best Regards,

Elmer

[2018-03-28 13:28] superwhykz commented on #254
@thinkingserious  thanks so much! I am closing this issue.

[2018-03-28 13:28] #254 closed

[2018-04-09 11:46] RayFinney opened #255 "Wrong TemplateID returns no error"
#### Issue Summary
Maybe not related to sendgrid-go because i use the "/v3/mail/send" WebAPI via sendgrid-go

While testing im my dev environment i changed the API-Key, to a completely different user, but the Template-ID stayed the same. So i had a Mail with the Template from the old API.

Sending response was a clean 202 and in the activity feed i just got an "Not Delivered - This email was not s

[2018-04-27 16:18] AlexMcConnell commented on #36
As I'm sitting here grumbling to myself about having to create a wrapper, I was just coming to create this exact issue. I'll post in the feedback. :)

[2018-04-27 22:54] thinkingserious commented on #36
Thanks @AlexMcConnell!

[2018-05-07 16:56] hothero commented on #152
@thinkingserious I found above message is changed to `work in progress`, where we can follow the related progress and make contribution?

[2018-05-08 00:16] thinkingserious commented on #152
@suchitparikh ^^

[2018-05-08 03:44] trvsysadmin opened #256 "Should We Use Master or Release Tag For Production?"
Hello! The last release 3.4.1 seems to be a long time back in 2017. Should we use the master branch for production or the release tag 3.4.1 ?

Thank you,

[2018-05-08 17:12] thinkingserious commented on #256
Hi @trvsysadmin,

I suggest that you use the release tags for production. That said, the updates to master since then should be good to go, I've just not tagged them for release just yet.

With Best Regards,

Elmer

[2018-05-09 01:39] trvsysadmin commented on #256
Thanks @thinkingserious  !

[2018-05-09 01:39] #256 closed

[2018-05-17 03:01] chrisprijic opened #257 "Cannot mock API by X-Mock header using Prism Windows"
#### Issue Summary
I'm working on `struct-ing` out a bit more of the SendGrid API for a project, and am diving into testing the first few endpoints I've been building out (in hopes to provide some PR's in the future!)

However, when running tests using prism and the provided SendGrid OAI spec (see below), I cannot mock anything else besides the "default" response code an endpoint provides. The X-M

[2018-05-18 02:28] chrisprijic commented on #257
Looks like the new version of prism uses `__code=400` (or any status code) as a query param to allow specified output. They'll get back to me about where this documentation is, or where you can have a reference for this.

As for this repo and my issue, I'll leave it up to you on how to handle this -- if prism's version needs to be explicitly stated or if you want to update to the newest prism way

[2018-05-18 02:30] pytlesk4 commented on #257
@thinkingserious did you guys update to the new version of Prism? If you did, let's make some time next week to migrate you over properly. Let me know.

[2018-05-29 18:31] thinkingserious commented on #257
Hello @chrisprijic,

We use [this older version](https://github.com/stoplightio/prism/releases/tag/v0.6.21) of Prism ([here are the docs](https://help.stoplight.io/prism/getting-started/prism-introduction)) in [this manner](https://sendgrid.com/blog/stoplight-io-to-test-api-endpoints).

The functionality you want is available in the newest version of Prism. If you would like to help us with upgrad

[2018-07-15 10:34] ymchun opened #259 "sending email with sendgrid-go & received email missing 'content-ids' field"
#### Issue Summary

I am send email from my server using `sendgrid-go`.

When I add inline image attachment to my email, it produce correct json request body.
But when I received the email from sendgrid inbound parse, `content-ids` is missing.
I tested with Gamil with inline image attachment, it just fine.

#### Steps to Reproduce

calls to add attachments
[code]

output from `mail.GetRequestBody`

[2018-07-18 13:44] ymchun commented on #259
fixed. need to set `"disposition":"inline"`

[2018-07-18 13:44] #259 closed

[2018-07-24 00:53] thinkingserious commented on #259
Awesome! Thanks for circling back :)

[2018-07-26 20:26] thinkingserious opened #260 "Add Dynamic Template Support"
#### Issue Summary

On 7/24/2018, our team publicly launched dynamic content for transactional templates. It is now available for all customers sending over v3 of our Mail Send API. Iterate over lists, handle conditionals and more, thanks to native support for a subset of Handlebars syntax!

More information can be found in our [blog post announcement](https://sendgrid.com/blog/how-to-use-sendgrid

[2018-08-01 21:02] devchas commented on #260
I can take a crack at this one!

[2018-08-07 15:45] birjup commented on #260
Hi,
Will you do it something like this, or are you planning anything drastically different?

`	DynamicTemplateData map[string]string `json:"dynamic_template_data,omitempty"``

[2018-08-07 15:51] birjup commented on #260
By the way, there seems to be a bug/feature where specifying html or text content stops the application of any handlebars

[2018-08-07 17:54] devchas commented on #260
@birjup I am planning to do something like that

[2018-08-07 21:17] devchas commented on #260
@birjup I actually had to do something like the following. You can't use a string value in the map because the JSON can be of arbitrary structure so that you can use the iteration and deep object features of handlebars. I am writing this so you pass a JSON string into the helper method

`DynamicTemplateData map[string]interface{} `json:"dynamic_template_data,omitempty"``

[2018-08-08 08:18] birjup commented on #260
Great, makes sense. Thanks for the update

[2018-08-09 14:06] nickhudkins commented on #260
@devchas take a look!

[2018-08-10 14:40] devchas commented on #260
Awesome thanks @nickhudkins - I had already done most of the work and had some more comprehensive examples that are aligned with the general dynamic template docs so I just submitted a separate PR #263 but it was helpful to see we approached this the same way

[2018-08-11 02:53] nickhudkins commented on #260
Works for me! Needed to get a feature out the door at work so I figured I’d push up what I did!

[2018-09-04 13:12] JamWils opened #265 "App Engine fails to send on multiple calls"
#### Issue Summary

In Google App Engine standard running Go 1.8.  We created a new hourly service that will run and send emails based on various criteria.  If there are 1 or 2 people to email then the service will run smoothly.  However, the higher the number of people (about 5 or more people) then calls start failing to the Send Grid service with the error:

For two months we've had a couple end

[2018-09-05 23:35] #260 closed

[2018-09-10 15:04] tjun commented on #265
I'm not familiar with sendgrid but I recommend you to try AppEngine `taskqueue` or appengine `delay`  to send emails in parallel.

[2018-09-10 15:15] tjun opened #266 "Email helper NewSingleEmail() requires both plainText and html content"
#### Issue Summary

Email helper's `NewSingleEmail(from *Email, subject string, to *Email, plainTextContent string, htmlContent string)` requires both plainTextContent and htmlContent.

This is a different behavior of calling API directly.

#### Steps to Reproduce

1. Call NewSingleEmail with empty `plainTextContent` or `htmlContent`.
2. Send mail with `client.Send(msg)`
2. Get error like
[code]

[2018-09-10 15:16] tjun commented on #266
If this should be fixed, I will send a Pull Request.

[2018-09-13 01:43] uneewk opened #267 "Adding corresponding sendgrid mail templates for example.go in helpers/mail"
#### Issue Summary

While the example.go file in helpers/mail is useful to help one get a feel for how to get up and running with the API, it is hard to see the big picture without corresponding examples of sendgrid mail templates that the code is written for. I'm speaking of the templates that will supposedly be processed with the API request to generate and send emails on the platform.

#### Ste

[2018-09-13 21:05] kylearoberts commented on #255
Hey @RayFinney

Currently the v3 mail send (same with v2 & SMTP) does not run a check on the legacy/transactional template you pass in your call. The reason for this is that is would add latency to the mail send and we are trying to keep that reasonably fast. As a result the mail will be dropped. In this specific drop case much of the emails data is lost which is why you do not have a `To` or `Sub

[2018-09-14 18:14] thinkingserious commented on #237
Testing

[2018-09-15 02:10] thinkingserious commented on #265
Hello @JamWils,

I'm adding this to our backlog for further investigation. Thank you for taking the time to document the issue clearly, we appreciate it!

With Best Regards,

Elmer

[2018-09-15 02:11] thinkingserious commented on #266
Hello @tjun,

This does seem odd behavior to me. I've added this to my backlog for further investigation.

Feel free to create a PR, we would greatly appreciate that!

With Best Regards,

Elmer

[2018-09-15 02:29] thinkingserious commented on #267
Hello @uneewk,

Does [this documentation](https://github.com/sendgrid/sendgrid-go/blob/master/USE_CASES.md#transactional-templates) help?

With Best Regards,

Elmer

[2018-09-18 01:38] arxdsilva commented on #266
Hi @tjun , I believe that It's an API response. I had the same problem and also created a test with this behavior that doesnt return an error, if @thinkingserious wants I can PR it.

[2018-09-18 10:00] tjun commented on #266
@arxdsilva
Sorry, my issue description is not correct. I fixed it now.
- Create a message with `NewSingleEmail` with empty htmlContent is Succeeded.
- Send the message with `client.Send()` got error response.

[2018-09-18 21:35] #255 closed

[2018-09-28 02:06] thinkingserious commented on #266
Thanks @tjun! A PR would be greatly appreciated :)

[2018-10-01 18:04] #218 closed

[2018-10-01 18:41] dhoeric commented on #253
Hi, I will take this issue!

[2018-10-02 04:57] thinkingserious opened #274 "Update integration tests to utilize StopLight.io's Prism version v2.X"
#### Issue Summary

We use a mock server for integration/contract testing that is driven by our OpenAPI specification and StopLight.io's Prism service. The service is spun up utilizing the prism.sh script in this repo.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Aceptance Criteria

* we a

[2018-10-02 05:01] thinkingserious opened #275 "Create helper methods for the /contactdb endpoint"
#### Issue Summary

Please see `USE_CASES.md` for current example of existing helper methods.

You may find simple example code for all of the `/contactdb` endpoint functionality in the `USAGE.md` file under `CONTACTDB` in the Table of Contents. Complete interactive documentation can be found [here](https://sendgrid.com/docs/API_Reference/api_v3.html).

Before writing any code, we suggest you revi

[2018-10-02 23:05] thinkingserious commented on #251
Those are all solid recommendations @anchepiece. I will reserve this PR for you :)

[2018-10-03 04:03] thinkingserious commented on #253
Thank you @dhoeric!

[2018-10-03 17:53] omar-h commented on #275
For clarification, by helper methods for the /contactdb endpoint, do you mean something like the mail helper class, where you use it to define the mail, then just use the standard way of sending a request.
[code]
or something which would be doing the requesting, and for you, where you just pass the args and the API KEY.
[code]

[2018-10-03 20:21] #244 closed

[2018-10-04 03:33] anchepiece commented on #251
Thanks @thinkingserious.

Any suggestions or corrections?

[2018-10-04 13:17] thinkingserious opened #283 "Require conformance to style standards"
#### Issue Summary

In the `CONTRIBUTING.md` file there is a section on Style Guidelines & Naming Conventions. Please review and implement a check in Travis CI. If there are any style errors, either fix or create a rule to exclude the error.

Before writing any code, we suggest you review our `CONTRIBUTING.md` file and propose your solution for discussion here in the comments. Thank you!

#### Ace

[2018-10-04 15:18] theodesp commented on #180
Maybe a more idiomatic approach would be:
[code]

[2018-10-04 16:42] pytlesk4 commented on #274
@gabrielclima I have a pull request ready, it has been sitting in my forked repo for a while. Check it out and take it if you want, I don't need anymore Sendgrid shirts!

[prism upgrade](https://github.com/pytlesk4/sendgrid-go/tree/prism-2.0)

[2018-10-04 20:36] radlinskii commented on #283
I can take this

[2018-10-05 12:46] bigblind commented on #174
I'd like to take a crack at this this weekend.

[2018-10-05 14:17] thinkingserious opened #286 "Run our *.md documents in this repo through the Grammer.ly service and update"
#### Issue Summary

We would like to get our English polished up throughout the repo.

#### Aceptance Criteria

* Every .md file in this repo has been run through the Grammer.ly service and updated accordingly

[2018-10-05 15:15] PeterBooker commented on #286
I would like to grab this, I will start on it now.

[2018-10-05 21:02] thinkingserious commented on #251
I think you are headed in the right direction. Please submit a PR and I'll review it. Thanks!

[2018-10-05 23:15] gabrielclima commented on #274
@pytlesk4 ok! thanks :]

[2018-10-06 10:36] omar-h commented on #275
Hi, @thinkingserious, I've tried to do as you asked, but havn't gotten around to doing for segments. Is it something like this you're looking for?

I've created a gist where you can see all of the function and type definitions I've encountered until now.
https://gist.github.com/omar-h/93091f8bdb8cbff46ed82ae34a0adb4b

Doing it this way creates a concise and consistent pattern to follow, but it see

[2018-10-06 12:54] fabrik42 commented on #109
I think this issue can be closed :)

[2018-10-06 14:20] thinkingserious opened #289 "Update documenation for retrieving a list of all templates (dynamic & legacy)"
#### Issue Summary

Please update the `USAGE.md` and corresponding `\example` with the call to list all templates.

This is the API call required: GET https://api.sendgrid.com/v3/templates?generations=legacy,dynamic

#### Acceptance Criteria

* The Usage.md file demonstrates how to use this API call to retrieve all templates: GET https://api.sendgrid.com/v3/templates?generations=legacy,dynamic
* T

[2018-10-06 14:52] thinkingserious opened #290 "Throw an exception if a template ID does not exist in your request body"
#### Issue Summary

You will not receive an error from the API is you send an email with the wrong template. Instead you will get a "Not Delivered" notice in your email activity feed. We want to make that experience better by throwing an exception in the code instead.

This issue is inspired by [this](https://github.com/sendgrid/sendgrid-go/issues/255).

#### Acceptance Criteria

* Use [the API](h

[2018-10-06 15:27] arajitsamanta commented on #290
Can I work on this ?

[2018-10-06 17:41] pangaunn opened #291 "Broken link in TROUBLESHOOTING.md"
#### Issue Summary

as state [here](https://github.com/sendgrid/sendgrid-nodejs/issues/782) it also broken in this repo.

[2018-10-07 10:11] renshuki commented on #289
I'm gonna do this one too 👍

[2018-10-07 16:12] thinkingserious opened #297 "Create a Dockerized event webhook consumer"
#### Issue Summary

SendGrid has an [Event Webhook](https://sendgrid.com/docs/API_Reference/Event_Webhook/event.html) which posts events related to your email activity to a URL of your choice. We want to have an easily deployable solution that allows for customers to easiy get up and running processing (parse and save) their event webhooks.

#### Acceptance Criteria

* A folder which contains a Do

[2018-10-07 16:18] thinkingserious opened #298 "Create a Dockerized email inbound parse webhook consumer"
#### Issue Summary

SendGrid has an [Email Inbound Parse Webhook](https://sendgrid.com/docs/API_Reference/Parse_Webhook/inbound_email.html) which posts data from a specified incoming email address to a URL of your choice. We want to have an easily deployable solution that allows for customers to easiy get up and running processing (parse and complete some action) their inbound parse webhooks.

###

[2018-10-08 20:29] thinkingserious opened #300 "Document the difference of using three brackets vs two brackets with a template and throw or log an error when used improperly"
#### Issue Summary

Our templates use the handlebars.js syntax as documented [here](https://sendgrid.com/docs/ui/sending-email/using-handlebars/). When including the characters ', " or & in a subject line replacement you need to use three brackets vs two ( {{{ content }}} vs {{ content }} ).

#### Acceptance Criteria

* Documentation of this functionality in the use cases section (transactional te

[2018-10-08 20:46] thinkingserious opened #301 "Create first time contributor documentation"
#### Issue Summary

Our open sourced documentation has a great [first time contributor page](https://github.com/sendgrid/docs/blob/develop/first-timers.md) that we wish to duplicate here.

#### Acceptance Criteria

* We have a file in the root directory called first-timers.md or similar that helps a first time contributor make their first PR (please use our CONTRIBUTOR.md file for inspiration as w

[2018-10-08 20:54] theodesp commented on #180
Is it OK that I proceed with that approach?
I will create a new package under helpers named `hook`
I will provide a simple HTTP NewWebhookServer with a default config
I will provide a handler for click events as an example.
I will provide documentation
I will provide tests

[2018-10-09 02:39] Bharat123rox opened #302 "The link in About section of README.md is an Email and not a list of Developers"
#### Issue Summary

The link in About section of README.md is an Email and not a list of Developers

#### Steps to Reproduce

1. Click on the Developer Experience Team hyperlink in the about section and it redirects to an email, probably not the intended behaviour

#### Technical details:

* sendgrid-go Version: master (latest commit: [commit number])
* Go Version: 1.5.1

PR #299 fixes this

[2018-10-09 02:40] Bharat123rox commented on #302
PR #299 fixes this

[2018-10-09 05:00] sjansen commented on #112
Here's what I've learned:

**1. Undefined `sendgrid.GetRequest` and `sendgrid.API`:**
  * The transactional template examples were renamed in b69271316f455387f905e19a901f1227fa02df5c
  * The new URL for the example in question is https://github.com/sendgrid/sendgrid-go/blob/master/USE_CASES.md#legacy-templates
  * I can think of three possible reasons `sendgrid.GetRequest` and `sendgrid.API` would

[2018-10-09 17:51] daniloff200 commented on #301
Gonna take it

[2018-10-09 20:01] dergoegge commented on #298
I will work on this!

[2018-10-10 00:58] thinkingserious opened #305 "Auto-generate the CHANGELOG.md file upon release"
#### Issue Summary

For every release, we currently hand craft a CHANGELOG.md update, now we would like to automate this process. Please see the existing CHANGELOG.md for formatting structure.

#### Acceptance Criteria

* A script, which when run, creates a CHANGELOG.md update based on any merged PRs since the last release.

[2018-10-11 11:34] TooFiveFive commented on #305
I can take this up. Can I make the script in python or do I have to use go?

[2018-10-11 13:57] nathanmkaya commented on #305
Hey, can I take this up I'll be using a bash script that can be run after the tests have run successfully

[2018-10-11 15:05] nathanmkaya commented on #297
Using the instructions [here](https://sendgrid.com/docs/API_Reference/Event_Webhook/getting_started_event_webhook.html), and some of the examples in the documentation I would like to work on this.

[2018-10-11 21:02] thinkingserious commented on #283
Thank you @radlinskii!

[2018-10-11 21:46] thinkingserious commented on #174
Thank you @bigblind, it's all yours!

[2018-10-13 00:48] bigblind commented on #174
Hi, @thinkingserious. I've started work on this, and submitted a WIP PR. If you have some time, I'd love to get some early feedback to see if this is what you had in mind.

[2018-10-13 03:54] thinkingserious opened #307 "Document new Git workflow in CHANGELOG.md"
#### Issue Summary

We want to update our git workflow to function more like [Gitflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow). We need to update the CONTRIBUTING.md file and PULL_REQUEST_TEMPLATE to direct contributors to fork/branch off the `development` branch and to merge their PRs with the `development` branch. Once this issue is complete, we will be crea

[2018-10-14 22:19] bigblind commented on #174
One question about this: how do the boolean `custom_spf` field, and the `ips` field interact on `/whitelabel/domains`? I'm not really familiar with SPF, so I'm wondering if the `ips` field only makes sense if `custom_spf` is true, and if `custom_spf` can be true without setting specific ip addresses.

[2018-10-15 22:37] mmasouras opened #311 "client.Send returns a nil error even if there was one"
#### Issue Summary

client.Send() returns a nil error even if the request was not sucecssful

#### Steps to Reproduce

1. Create an email request with some invalid fields - e.g. missing the body content.
	`message := mail.NewV3MailInit(from, "foo", to, nil)`

2. Create a new client and send the request
	`client := sendgrid.NewSendClient(SENDGRID_API_KEY)`
	`response, err := client.Send(message)`

[2018-10-16 23:21] hannahapuan commented on #300
I can take this one on

[2018-10-17 00:28] hannahapuan commented on #300
- would this be a unit "test" or an error case youre checking for?
- would this case be checked when a user hits the /mail/send endpoint or ..?
- is this only supposed to be for the subject line value or also the body data?

[2018-10-19 06:58] thinkingserious opened #312 "Auto-generate the release notes upon release"
#### Issue Summary

For every release, we hand craft the release notes on GitHub, now we would like to automate this process. Please see the existing [release notes](https://github.com/sendgrid/sendgrid-go/releases) for an example. The contents of the release notes are generated from the CHANGELOG.md file. [Here](https://developer.github.com/v3/repos/releases/#create-a-release) is the documentatio

[2018-10-20 23:43] thinkingserious opened #313 "Error Exception Handling"
#### Issue Summary

To improve the developer experience, we would like to pass back a [summary of the error received](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) and a link to the appropriate place [in the documentation](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) to help with troubleshooting.

#### Acceptance Criteria

* When an error is thrown du

[2018-10-20 23:50] thinkingserious opened #314 "Type Exception Handling for the Mail Helper"
#### Issue Summary

The appropriate types necessary for a successful `mail/send` API call is documented [here](https://sendgrid.com/docs/API_Reference/api_v3.html). We want to throw a type exception when the wrong type is provided.

#### Acceptance Criteria

* All parameters for the `mail\send` endpoint are type checked and if they fail the type check and exception is thrown with instructions on h

[2018-10-21 11:31] pratik97 commented on #314
I would like to take this issue.

[2018-10-21 13:15] pratik97 commented on #314
@thinkingserious These type exception handlings are for Without Mail Helper Class method only right?

[2018-10-22 13:32] knrt10 commented on #169
If anyone is not working I would like to work on this issue.

[2018-10-23 16:56] #195 closed

[2018-10-23 16:58] #236 closed

[2018-10-23 17:01] #291 closed

[2018-10-27 00:35] arxdsilva commented on #131
ill do it :D

[2018-10-28 16:18] alimasyhur commented on #314
@thinkingserious I've created a new pull request on this issue. There's a new issue in your travis.yml file with this following error:
```The command "go get -t -v ./..." failed and exited with 2 during .```

[2018-10-29 07:02] doublefree opened #325 "SetDynamicTemplateData function on Personalization"
https://github.com/sendgrid/sendgrid-go/blob/master/USE_CASES.md
at this use-cases, I found `p.SetDynamicTemplateData("receipt", "true")` ,
but I cannot find this `SetDynamicTemplateData` function on latest released version(3.4.1)

If possible, please tell me when to be released.

[2018-10-29 18:34] Rishabh04-02 opened #326 "Modification in Prerequisites"
#### Issue Summary

Adding details about the sendgrid service plans which is present on the website as **Send up to 40,000 emails for 30 days, then send 100 emails/day free forever**

[2018-10-29 19:10] stannok commented on #326
Same issue here. The changes seem to be in the master branch, but have not been added to the tag.

This brakes dependency management with Dep. However you could set a constraint to the master branch as a work around.

Please fix release tagging!

[2018-10-29 19:11] stannok commented on #325
Same issue here. The changes seem to be in the master branch, but have not been added to the tag.

This brakes dependency management with Dep. However you could set a constraint to the master branch as a work around.

Please fix release tagging!

[2018-10-29 19:24] crweiner opened #328 "Library Uses Outdated "Whitelabel" Verbiage"
#### Issue Summary

Per the SendGrid Docs [here](https://github.com/sendgrid/docs/blob/develop/content/docs/glossary/whitelabel.md) as well as an upcoming addition to the Docs in a PR I have submitted [here](https://github.com/sendgrid/docs/pull/4182#discussion_r224903380), the term "Whitelabel" is no longer being used in SendGrid documentation and has been "deprecated" ([see here](https://github.

[2018-10-30 18:33] thinkingserious opened #330 "Add our Developer Experience Engineer career opportunity to the README"
#### Issue Summary

The role of Developer Experience Engineer just became available and we want to announce it in the README. Here is the copy:

If you're a software engineer who is passionate about #DeveloperExperience and/or #OpenSource, [this is an incredible opportunity to join our #DX team](https://sendgrid.com/careers/role/1421152/?gh_jid=1421152) as a Developer Experience Engineer and work

[2018-10-30 19:18] mptap commented on #330
@thinkingserious Have raised PR for this: https://github.com/sendgrid/sendgrid-go/pull/331

[2018-10-30 23:10] extemporalgenome commented on #171
I'll try to tackle this one.

[2018-10-30 23:47] #237 closed

[2018-10-30 23:49] #239 closed

[2018-10-30 23:53] robertacosta commented on #174
Hi @bigblind , I've updated the original ask.  Since that ticket was created we have renamed "whitelabel" to "sender authentication".  Would you mind updating your PR?

[2018-10-31 05:32] extemporalgenome commented on #171
@thinkingserious what should happen when there are more than 1000 CCs or BCCs? What about when there are any CCs or BCCs in addition to direct To's? Having multiple participants in a single email is done, at least historically, for the purpose of establishing conversations, yet that really doesn't have any meaning when doing batching.

How does /mail/send interpret the relationship (or non-relatio

[2018-10-31 06:46] alimasyhur commented on #314
since your go version requirement is above 1.6, I think no need to add go get -t -v
https://docs.travis-ci.com/user/languages/go#dependency-management

[2018-10-31 16:18] thinkingserious commented on #171
What do you think about this @kylearoberts?

[2018-10-31 16:57] kylearoberts commented on #171
@extemporalgenome @thinkingserious

So first a single send cannot have more than 1000 recipients in any combination of To's, CCs, and BCCs. So if the recipients total more than 1000 it either needs to be broken up like the below examples or give an error indicating that a send cannot have more than 1000 recipients.

The relationship is determined by the structure of the email in the v3 call. Here

[2018-10-31 18:20] extemporalgenome commented on #171
Ah, yes, that definitely clears things up. Thank you!

[2018-11-08 20:53] hconceicao opened #340 "Docker example binaries conflicts with docker cli when go/bin is on the machine's path"
#### Issue Summary

Docker example binaries conflicts with docker cli when go/bin is on path.

There a example where the main executable is named docker. If by some reason it's compiled to the gopath/bin and the dir happens to on the machine path, it can override the docker cli generating weird behavior (it always return the version of the lib, ex 3.1.0).

A simple solution would be rename the pro

[2018-11-14 18:19] chtavares592 opened #341 "Could not set the Subject on Dynamic Template"
#### Issue Summary

I'm using the free trial version of SendGrid to test the API.
I created a web template from sendGrid and could not edit the subject. The subject is defined '-'. I already created a customization and tried to modify the subject as in the code below. Can anybody help me ? Thank you

[code]

#### Technical details:

* sendgrid-go Version: master (latest commit: [bd7db2d00b3ba28aeb

[2018-11-14 21:09] shackra commented on #311
I'm experiencing this as well

[2018-11-16 10:47] #341 closed

[2018-11-18 15:29] thinkingserious commented on #325
Thanks for bringing this to my attention @doublefree and @stannok for verification. I'll get a release out ASAP to address this issue.

[2018-11-18 15:30] #326 closed

[2018-11-18 15:32] thinkingserious commented on #340
Thanks for the heads up on this @hconceicao!

I've added this to our backlog for a fix and applied labels to encourage external contribution.

With Best Regards,

Elmer

[2018-12-01 01:47] johan-lejdung commented on #325
I would also like you to do a new release. Your latest release of this package isn't compatible with the current API. Had me super confused for a good while :P

[2018-12-04 22:00] antham commented on #312
I can propose this soft https://github.com/antham/chyle , I did for this very purpose, it's able to diff two commits, extract all pull request, pick the title or whatever informations of each and populate a release at the end

[2018-12-04 22:08] antham opened #342 "Bump a brand new release"
#### Issue Summary

Is it possible to create a new release cause the last one (v3.4.1) is 213 commits far from master and when you use go modules it default on this one, there are some missing features from master branch and it would be good to have a proper version instead of relying on master.

[2018-12-06 19:18] thinkingserious commented on #342
Hello @antham,

I don't have a strict timeline on the next release, however, you can subscribe to our new release notifications [here](https://dx.sendgrid.com/newsletter/go).

We do plan to have a release in the near future.

With Best Regards,

Elmer

[2018-12-06 19:18] #342 closed

[2018-12-06 19:20] antham commented on #342
Right, thanks for the answer

[2018-12-18 18:06] rumyantseva opened #343 "Could you create a new tag please?"
#### Issue Summary

Last time the tag has been created in July 2017: https://github.com/sendgrid/sendgrid-go/tags.
We use go dep to mange dependencies and by default go dep uses the last tag.
But the last tag doesn't represent actual changes.
Could you please create a new tag for consistency?

Thanks.

[2018-12-21 18:56] thinkingserious commented on #343
Hello @rumyantseva,

We will be making a release update in the near future where we will update the tags shortly. You can either [subscribe via email](https://dx.sendgrid.com/newsletter/go) or use GitHub's watch feature to be alerted to the release.

Thanks!

With Best Regards,

Elmer

[2018-12-21 18:56] #343 closed

[2019-01-03 18:16] subsociety opened #345 "Latest release out of date (v3.4.1, October 2017)"
#### Issue Summary

We use go/dep for dependency management, which pulls down version v3.4.1, presumably because this is the last release (dated July 2017).  Version v3.4.1 does not include support for dynamic templates, is there a plan to release a new version?

#### Steps to Reproduce

1. Install go/dep for dependency management.
2. Add a go file with reference to "github.com/sendgrid/sendgrid-g

[2019-01-03 19:37] thinkingserious commented on #345
Hello @subsociety,

I don't have a strict timeline on the next release, however, you can subscribe to our new release notifications [here](https://dx.sendgrid.com/newsletter/go).

We do plan to have a release in the near future.

With Best Regards,

Elmer

[2019-01-03 19:37] #345 closed

[2019-01-03 20:09] AlirezaInGitHub commented on #254
@thinkingserious: It would be nice if the rule was communicated with developers though method design/architecture. How about something like this:

[code]

[2019-01-15 01:22] DarthHater opened #346 "Difficulties with using this library with go mod"
#### Issue Summary

With the addition of `go mod`, when I install this library, `go mod` uses your releases and tags to select a version for me to use. Unfortunately this is problematic, as your latest release is from November of 2017, and as such `go mod` is downloading 3.4.1, which is big time out of date compared to master.

#### Steps to Reproduce

1. Use golang 1.11.4 (I think anything higher

[2019-01-17 02:52] eddiewang commented on #325
still an issue

[2019-01-17 14:47] bhamail commented on #346
@DarthHater  Thanks for the workaround! Been banging my head on why there was no `Personalization.SetDynamicTemplateData()` method in v3.4.1 for use with dynamic templates.

[2019-01-17 20:53] thinkingserious commented on #346
Hello @DarthHater,

You are correct, we have a release upcoming in our backlog. You can [subscribe to our release update newsletter](https://dx.sendgrid.com/newsletter/go) to be updated upon release.

Thanks for posting the workaround!

With Best Regards,

Elmer

[2019-01-17 20:53] #346 closed

[2019-01-19 13:37] johan-lejdung commented on #325
This is how I solved sending templates with personalizations.

https://gist.github.com/johan-lejdung/64adc652f464768b476219410a7e2ce3

[2019-01-21 15:12] nielskrijger opened #347 "Client concurrent access not safe?"
I have a short question as it was not immediately clear from the docs;

Is my understanding correct that it is **not safe** to **reuse** the `Client` returned by `cl := NewSendClient(key string)` when multiple goroutines will invoke `cl.Send(...)`?

So I should either create a new client upon each request or use a mutex or similar?

[2019-01-23 04:57] thinkingserious commented on #347
Hello @nielskrijger,

Based on [this issue](https://github.com/sendgrid/sendgrid-go/issues/265), I suspect there may some concurrency issues. According to [this thread](https://github.com/golang/go/issues/19653) it appears that if we make sure to close the request body or if the request body is nil we should be safe.

I think this issue requires further investigation on our part, so I'm linking th

[2019-01-23 04:57] #347 closed

[2019-01-23 18:34] fcjr commented on #325
Hi @thinkingserious. It looks like there hasn't been a new release since 2017, are there any new stable releases slated for anytime soon? I would love for the new Transactional Templating (such as the SetDynamicTemplateData) to be rolled in.

[2019-01-23 20:22] eddiewang commented on #325
for those that use go dep, set the source branch to master and you should be good to go.

[2019-01-30 00:35] ezk84 commented on #325
While setting the source branch on `dep` to master is a sensible workaround, a new release would be good to ensure our builds won't break with future changes. Adding my +1 for that to happen :)

[2019-02-14 14:07] achatina opened #350 "Permission denied"
I have created API Key and than try to send email like in example
`sendgrid.NewSendClient(os.Getenv("SENDGRID_API_KEY"))`
Here i changed to my Api key.
`from := mail.NewEmail("Example User", "test@example.com")`
here i changed email to Username email from Admin User Details menu on Dashboard

And changed example "to" email to real email. But I'm getting a respoce with error: "Permission denied, wr

[2019-02-14 14:28] thinkingserious commented on #350
Hello @achatina,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2019-02-14 14:28] #350 closed

[2019-02-14 21:45] prakashpandey opened #351 "Getting error The content value must be a string at least one character in length when 'htmlContent' is set to empty"
#### Issue Summary

I am using the code given in the readme doc to send email. My requirement is to send plain text instead of email content. So I used the below code to send email

#### Steps to Reproduce

[code]

I am getting error :

[code]

#### Other details

I am able to sent email when `htmlContent` is a non-empty string. But when I want to send only plain text, why I have to set `htmlConte

[2019-02-15 18:16] thinkingserious commented on #351
Hello @prakashpandey,

Please try your use case without using the `NewSingleEmail` helper, [like so](https://github.com/sendgrid/sendgrid-go/blob/master/use-cases/personalization-sending-single-email-single-recipient-with-cc-bcc.md).

With Best Regards,

Elmer

[2019-02-15 21:21] prakashpandey commented on #351
Hi @thinkingserious, I went through the link, I think it can solve my use case. I will try and let you know if I face any problems.

But I think the helper `NewSingleEmail` can be very useful.  It's concise and also easy to read.
Is this a bug? If it is, Is there a way  I can fix it with a little bit tweaking the code.

Thanks, Elmer!

[2019-02-17 14:40] im-kulikov commented on #345
1.5 years have passed since the last release. The library is developing, but there are no new releases. Does it make sense to continue to use this library or its development is no longer given time?

[2019-02-22 20:24] haleyrc opened #352 ""To" names with commas cause mail delivery to fail"
#### Issue Summary

Providing a `name` to `mail.NewMail` with a comma causes the email to be sent erroneously as the first "word" will be used as the email address.

#### Steps to Reproduce

1. Create an email like `mail.NewMail("My Company, LLC", "mycompany@example.com")`.
2. Attempt to send the email.
3. SendGrid activity feed shows a bounced email to `my`.

If `NewMail` automatically double-quo

[2019-02-24 17:15] thinkingserious commented on #351
Hello @prakashpandey,

I think this can fixed by adjusting the `NewSingleEmail` helper (or create a new one, say `NewSingleEmailPlanText` helper such that the `htmlContent` parameter is not required.

We would be thrilled to accept your PR!

With Best Regards,

Elmer

[2019-02-26 22:14] thinkingserious commented on #352
Hello @haleyrc,

Thanks for taking the time to identify and fix the issue!

With Best Regards,

Elmer

[2019-02-28 14:24] prakashpandey commented on #351
Sure, I will look into this

[2019-02-28 14:45] thinkingserious commented on #351
Awesome, thank you @prakashpandey!

[2019-03-03 03:43] ddibiase opened #354 "Running library in Lambda hangs"
#### Issue Summary

Attempting to send a very basic email using email helper with an AWS Lambda function.

#### Steps to Reproduce

I added the following process to my function:

[code]

The API key is set properly and my account is all in order and ready to dispatch messages. After triggering: `response, err := client.Send(message)` the function hangs for more than 6 seconds. I bumped the Lambda

[2019-03-03 08:00] prakashpandey commented on #351
Hi @thinkingserious, I have raised a [pull request](https://github.com/sendgrid/sendgrid-go/pull/355).
The Travis-ci build is failing. I think it's a test environment issue.
Please let me know If I missed something.

Thanks!

[2019-03-04 15:06] ddibiase commented on #354
Further to the issue above, I attempted running the application locally with the following code:

[code]
and it's returning the following error, which I don't understand at all...

[code]

[2019-03-04 18:21] thinkingserious commented on #354
Hello @ddibiase,

A [202 status code](https://sendgrid.com/docs/API_Reference/Web_API_v3/Mail/errors.html) means "Your message is both valid, and queued to be delivered."

Please check your [email activity feed](https://sendgrid.com/docs/ui/analytics-and-reporting/email-activity-feed/) to see the status of the email.

I hope that helps.

With Best Regards,

Elmer

[2019-03-04 18:24] thinkingserious commented on #351
Thank you @prakashpandey! Your PR is now in our queue for a code review :)

[2019-03-06 23:42] randallmlough commented on #325
If you are using go mod ``` go get -u github.com/sendgrid/sendgrid-go@master``` will give you the latest on master (or whatever branch you want)

[2019-03-12 07:27] hurkan-sert opened #356 "message":"Following RFC 1341, section 7.2, if either text/html or text/plain are to be sent in your email: text/plain needs to be first, followed by text/html, followed by any other content.","field":"content","help":null" /* How do I do this if I want duplicate content *"
foreach($params as $key => $value )
{
$data["personalizations"][]["to"][] = ["email" => $value['eposta'] ];
$data["subject"] = "HELLO";
$data["from"]=["email"=>"example@gmail.com"];
$data["content"][]=["type"=>"text/html","value"=>" $value['content']"];
}

[2019-03-12 18:13] thinkingserious commented on #356
Please see: https://github.com/sendgrid/sendgrid-php/issues/814

[2019-03-12 18:13] #356 closed

[2019-03-21 15:00] hero0926 commented on #325
![BuildArtifacts___181823015__·_Jobs_·_Basking___graphql-api_·_GitLab](https://user-images.githubusercontent.com/24406427/54761447-6595dd80-4bf2-11e9-9ed6-c0d389a2e59c.png)

still has bug in dep or even go get

[2019-03-25 08:04] prakashpandey commented on #351
Hi Elmer (@thinkingserious),

Greetings of the day.

I am now able to send plain text email using this `PR fixed` locally. But in production, it fails because
`go get` downloads the dependency from here.

Could you please tell me the probable date when the PR can be reviewed and merged?

Thanks, Elmer!

- Prakash

[2019-03-25 21:55] thinkingserious commented on #351
Hello @prakashpandey,

Unfortunately, I don't have a specific date. However, I am planning a release within the next few weeks.

One option is to fork this repo, implement your PR fix and do a go get on the forked repo until we get your PR rolled into the official release.

Another option would be to [not utilize the helper](https://github.com/sendgrid/sendgrid-go#without-mail-helper-class) until

[2019-03-28 14:16] mikepc opened #357 "Substitutions may not be used with dynamic templating"
#### Issue Summary

When send a transactional email, the README and other documentation does not educate the engineer on how to use substitutions.

#### Steps to Reproduce

Transactional Email Template:

Hello! You requested a password reset for your account on https://www.url.io

If you don't want this. Please email help@url.io and let them know, and feel free to trash this email.

If you do want

[2019-03-28 15:02] thinkingserious commented on #357
Hello @mikepc,

Does the documentation [here](https://github.com/sendgrid/sendgrid-go/blob/master/use-cases/transactional-templates-with-mailer-helper.md) or [here](https://github.com/sendgrid/sendgrid-go/blob/master/use-cases/transactional-templates-without-mailer-helper.md) help?

Also, could you please guide me through where you looked for help? That will help me determine where we need to bett

[2019-03-29 01:38] mikepc commented on #357
https://github.com/sendgrid/sendgrid-go/blob/master/USAGE.md#mail

I saw the substitutions contract and saw that it mapped to a similar property in golang. I tried customarg, but that didn't work for me ( forget why).

Looking at the issues board (I assumed I was being stupid and there wasn't an issue) but it looks like there's a missing method in master (SetDynamic something or other) I think I n

[2019-03-29 01:41] mikepc commented on #357
Yepper I am good to go now.

[code]

Sorry for bein' a pain in the butt.

[code]

Use the new SetDynamicTemplateData function.
Profit.

[2019-03-29 18:21] thinkingserious commented on #357
Awesome! I'm glad you got it sorted and thank you for sharing the fix with our community :)

[2019-03-29 18:21] #357 closed

[2019-04-14 19:17] rapt0rz opened #358 "Sendgrid.go Proxy Authentication"
Running the latest off master but not seeing any support if you need to authenticate via a proxy server when sending an email via Sendgrid.

There are similar issues from 2016 but no resolution that I can see.

[2019-04-16 15:38] thinkingserious commented on #358
Hello @rapt0rz,

You can pass in a custom HTTP client [like so](https://github.com/sendgrid/sendgrid-go/blob/master/sendgrid_test.go#L197). Does that get you what's needed?

With Best Regards,

Elmer

[2019-05-01 00:56] nfadili commented on #325
Still an issue. Any ETA on this?

[2019-05-01 01:27] scharissis commented on #357
FYI: I had the exact same issue by installing with:
`go get github.com/sendgrid/sendgrid-go`
(That is, `SetDynamicTemplateData` method is missing)

mikepc's suggestion to explicitly install @master fixed it:
[code]

[2019-05-01 03:44] thinkingserious commented on #325
Hello everyone,

I have some luke warm news :/

I do now have this release on my near-ish term backlog, as I still need to release a few other libraries ahead of this one and at this point I'm only able to release one library per sprint.

Thanks for your patience and know that we are working towards a more predictable and frequent release schedule through automation.

With Best Regards,

Elmer

[2019-05-01 14:33] johan-lejdung commented on #325
That's unfortunate. While I can't understand why it's taking and has taken so long, I really appreciate your honesty and transparency @thinkingserious! 👍

Like @randallmlough already stated, a workaround is to fetch the master branch directly.

[2019-05-02 00:42] thinkingserious commented on #325
Thanks for understanding @johan-lejdung! I'm looking forward to moving this library forward.

[2019-05-30 18:37] eclipseo opened #359 "mail_v3_test.go: Sprintf format %s has arg p.To of wrong type"
Golang 1.12.5, on Fedora Rawhide x86_64, sendgrid-go df2105ec04e32aff6b9e9a2fd1ca8e5c16a836c5:

[code]

[2019-06-03 20:47] arianitu commented on #266
What is happening here? Should NewSingleEmail even be used in production, I'm a bit confused on what htmlContent and plainTextContent should be?

Should they equal to the same value?

[2019-06-03 22:47] thinkingserious commented on #266
Hello @arianitu,

It is best practice to include both a text and html in your email in terms of SPAM score. The text content is generally the HTML content without the HTML formatting.

With Best Regards,

Elmer

[2019-06-04 15:41] arianitu commented on #266
@thinkingserious Thank you.

[2019-06-06 19:48] avinashdhinwa commented on #325
@thinkingserious, what could be the possible deadline for it's completion.

Is there any way I can help you?

Regards

[2019-06-06 19:56] avinashdhinwa commented on #325
It's not working for me.

[2019-06-06 20:11] avinashdhinwa commented on #325
Works now. I deleted the older module and tried it again.

[2019-06-07 20:33] thinkingserious commented on #325
Hello everyone,

It looks like we will have a release for this SDK within the next sprint which starts next week :)

I can't promise that, but I see some hope and got excited :D

[2019-06-10 15:30] gracenoah opened #361 "Make a new release"
#### Issue Summary

Our upgrade bot just tried to upgrade our go module dependency on this package from a git commit to the latest version, as it should.

However, the git commit was a pretty recent master commit and **THE LATEST RELEASE IS FROM 2017.**

Please make a new release so people can use your package reasonably or delete all of your tags and go back to not making releases.

#### Steps to

[2019-06-10 15:57] thinkingserious commented on #361
Hello @gracenoah,

My apologies, we have a release planned within this month. We are also working to devise a predictable release cadence.

With Best Regards,

Elmer

[2019-06-10 15:57] #361 closed

[2019-06-11 12:53] hypirion opened #362 "Sendgrid does not encode non-ascii attachment filenames correctly"
When sending attachments with non-ASCII filenames, they are delivered to the
recipient without being correctly encoded. Consider the following sample
program:

[code]

It successfully terminates and sends an email to the recipient. However, the
message encodes the attachment as follows:

[code]

As header information must be encoded in us-ascii according to the email spec,
this may cause wonky beh

[2019-06-11 15:24] thinkingserious commented on #362
Hello @hypirion,

The best way forward right now is to vote on those issues you references and open a ticket with [support](https://support.sendgrid.com) to gain more visibility.

Thank you for taking the time to write out this issue is such detail!

With Best Regards,

Elmer

[2019-06-12 13:22] hypirion commented on #362
@thinkingserious: Thank you for the pointers, I've added a support request and will follow it up with them :)

[2019-06-12 16:43] thinkingserious opened #364 "Add GoLangCI to TravisCI"
We were previously using gometalinter, but it is now deprecated and [golangci-lint](https://github.com/golangci/golangci-lint) is the recommended replacement.

[2019-07-04 04:33] #352 closed

[2019-07-05 16:41] 2208Abhinav opened #365 "Mail not sent due to timeout"
My golang app is running inside docker container and I am getting the following log:
[code]

and email is not sent successfully.

[2019-07-17 00:19] jaunt opened #366 "marketing/contacts/ PUT return success and job_id but no results?"
#### Issue Summary

Using the "new marketing" api endpoints.  Trying to add contacts with "put".  Seems to go successfully but nothing happens.  And what to do with "job_id"?

#### Steps to Reproduce
My PUT request to the endpoint:

{"list_ids":["556ecebd-f9e3-4663-ac35-03677fcfed99"],"contacts":[{"email":"test@mydomain.com","first_name":"Test","last_name":"","custom_fields":{"e49_T":"0","e50_T":"

[2019-07-29 22:19] rebecca-ledoux commented on #366
Hi Jaunt!

Can you please provide the email associated with your account, so I can look into the contact not being added issue?

As for the job_id, we know this does not do anything at this time, but we are building a job status API to help customers understand what the status of the request that was submitted. Thank you for being patient with us!

[2019-08-01 12:32] adelespinasse commented on #105
Still, it would be nice if the headers were returned as documented. I assume that a 429 will still be returned if we hit the rate limit. Will the rate limit headers be returned too in that case?

(I guess the headers could plausibly be omitted for bandwidth reasons, since there are obviously a huge number of mail sends happening.)

I've also been wondering if the client libraries (Python, in my ca

[2019-08-06 19:17] Maniacal commented on #311
Just came across this as I forgot to send the API key, (401 response) but didn't catch it because the error was `nil`.  Looks like maybe this issue should be in the github.com/sendgrid/rest project.

Any updates?

[2019-08-07 16:13] olaven commented on #366
Hi,

I am having a similar issue.
The contact is created, but I need the ID of the contact, which is not returned.
I am only getting `job_id`, as @jaunt described above.

Is there a way to create a recipient and retrieve its id? :-)

If so, that would be great!

[2019-08-11 16:44] pavel-odintsov opened #367 "Email Address Validation API support"
Hello!

I received announce about your new feature: https://sendgrid.com/solutions/email-validation-api/

Do you have any plans to implement it with your Go client library?

Thank you!

[2019-08-14 17:23] rbkumar88 opened #368 "Does it support sending/setting meeting invites to Outlook"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is relevant to the issue being reporte

[2019-08-21 06:20] thinkingserious commented on #365
Hello @2208Abhinav,

This looks like a networking issue. Are you able to establish any connectivity from within your Docker container to the Internet?

With best regards,

Elmer

[2019-08-21 06:21] #366 closed

[2019-08-21 06:23] thinkingserious commented on #367
Hello @pavel-odintsov,

While [you can still utilize that API generically](https://github.com/sendgrid/sendgrid-go/blob/master/USAGE.md#initialization), we don't currently have a plan to implement helper methods.

That said, thanks for opening this issue so that we may begin to gauge interest.

With best regards,

Elmer

[2019-08-21 06:26] thinkingserious commented on #368
Hello @rbkumar88,

I believe that would be a matter of setting the correct attachment parameters, [like so](https://github.com/sendgrid/sendgrid-go/blob/master/examples/helpers/mail/example.go#L99).

With best regards,

Elmer

[2019-09-24 16:10] ke2ulpatani commented on #340
I am planning to work on this bug, could you please tell which example you're talking about here, @hconceicao ? Thank you.

[2019-10-01 19:01] M-ZubairAhmed commented on #364
Can i look into it

[2019-10-03 07:26] xu1718191411 opened #369 "unexpected EOF ISSUE"
#### Issue Summary

I tried to execute sendgrid-go/examples/helpers/mail/example.go to send a large html string but the  unexpected EOF error occurred

#### Steps to Reproduce

1. Download repository from https://github.com/sendgrid/sendgrid-go

2. I modified the sendgrid-go/examples/helpers/mail/example.go code like this

`
func sendHelloEmail() {
	request := sendgrid.GetRequest("my-key", "/v3/ma

[2019-10-04 22:12] alexvandervegt commented on #366
@jaunt Did you ever solve this? I have the exact same issue...

[2019-10-04 22:14] alexvandervegt commented on #366
@thinkingserious Why is this issue closed as it still appears?

[2019-10-09 01:25] #369 closed

[2019-10-09 18:28] brett-lempereur commented on #311
Just looking at this as a possible issue for Hacktoberfest.  I traced it through to the `rest` library, and it looks like the contract is:

* If an error transmitting or receiving data occurs, return `(nil, err)`.
* If the rate limit wasn't hit, return `(response, nil)`.
* If the rate limit was hit, and we have run out of retries, return `(nil, errors.New("Rate limit retry exceeded")`.
* Otherwise

[2019-10-12 09:40] sleagon opened #371 "Ability to send base64 content email"
#### Issue Summary
How to send a base64 content email, saying text/html or text/plain content encoding in base64

#### Steps to Reproduce
send your email.

I have create a support in sendgrid.com.

[2019-10-14 11:46] sleagon commented on #371
### ###

[2019-10-24 08:15] evgeniytar commented on #366
@thinkingserious Any updates here?

[2019-10-24 18:53] thinkingserious commented on #366
Hello everyone!

I have some good news, it looks like this feature has been prioritized and should be released within this quarter! I will post here once it's released.

@alexvandervegt,

We closed this issue because it's not related directly to the helper libraries. I'm glad that you commented though, because +1s and comments help increase the priority generally.

With best regards,

Elmer

[2019-10-25 10:17] jfloff commented on #366
Regarding this, I found out that when I created contacts with custom fields, they are not appearing on the sendgrid UI ((https://mc.sendgrid.com/contacts/all) at all. But if you create a contact without those custom fields it shows up there.

I wonder if there is any problem with custom fields with the UI or with the API.

[2019-10-27 21:50] gotjosh opened #373 "If you're getting `message":"access forbidden""
Seems like there's different documentation from the one linked here and throughout the website:

Please refer to https://sendgrid.api-docs.io/v3.0/

And if you're having problems with the contacts API please refer to https://sendgrid.api-docs.io/v3.0/contacts/add-or-update-a-contact

This endpoint worked perfectly for me.

[2019-11-08 21:14] thinkingserious commented on #371
Hello @sleagon,

I'm not sure I understand the issue here. Do you mind sharing the source code that is causing trouble so that we may reproduce?

With best regards,

Elmer

[2019-11-08 21:16] thinkingserious commented on #373
Hello @gotjosh,

I'm not sure I understand. Were you getting a "message":"access forbidden" error, and then after referring to https://sendgrid.api-docs.io/v3.0/contacts/add-or-update-a-contact it worked? If so, what documentation did not work for you?

Thanks!

With best regards,

Elmer

[2019-11-11 02:23] uvita commented on #369
Hi @xu1718191411 why did you close this issue? Have you been able to work it out?

Thanks

[2019-11-21 01:51] Morrowless commented on #357
The docs don't even mention this method: https://github.com/sendgrid/sendgrid-go/blob/master/USAGE.md

[2019-11-25 23:12] rogaha commented on #357
do you know if `SetDynamicTemplateData` also works with `legacy` templates?

[2019-11-26 17:43] thinkingserious commented on #366
Hello @jaunt, @olaven, @Barlocker-Garrett, @jfloff, @evgeniytar, @timB73,

I have great news, this issue has now been resolved! Please let me know if you continue to experience any issues.

With best regards,

Elmer

[2019-11-27 18:07] MaerF0x0 commented on #366
To close the loop with @jaunt  's original question...

When one initiates an upsert of contacts via [PUT /marketing/contacts](https://sendgrid.api-docs.io/v3.0/contacts/add-or-update-a-contact) a `job_id` will be returned.

This `job_id` can be fed into [GET /marketing/contacts/imports/{id}](https://sendgrid.api-docs.io/v3.0/contacts/import-contacts-status) to poll for completion and job results.

[2019-12-05 05:39] markus-westerstrom-stratsys commented on #362
Any news about this? @thinkingserious

[2019-12-18 16:16] loopvoc opened #374 "README: The link under "Use Cases" with text "examples of common API use cases" returns 404"
#### Issue Summary

A summary of the issue and the environment in which it occurs. If suitable, include the steps required to reproduce the bug. Please feel free to include screenshots, screencasts, code examples.

#### Steps to Reproduce

1. This is the first step
2. This is the second step
3. Further steps, etc.

Any other information you want to share that is relevant to the issue being reporte

[2019-12-18 16:17] loopvoc commented on #374
This is a README issue for documentation purposes in this repository

[2019-12-18 22:53] andofcourse opened #375 "Sending an email without knowing the recipient's name?"
#### Issue Summary

When instantiating an Email with mail.NewEmail, you need to provide a name and an address. Is there any way to provide just the address?

A typical use case where this becomes annoying: user1 wants to invite user2 to join some service - user1 is asked to input user2's email. How would the service know user2's name in order to call mail.NewEmail?

The workaround we've been using

[2019-12-27 22:12] adesokanayo commented on #375
You can send an email without specifying name. When you create a new Email instance ,pass only email, the name is optional.

[2020-01-02 18:02] PFadel commented on #369
Also getting this error. It seems to be intermittent.

[2020-01-03 21:47] jsonsystems opened #376 "Setting Content-Type header with /mail/send Helper?"
#### Issue Summary

Can the content-type header be set from the Go client? I can achieve the outcome using `curl`:

[code]
Note: `--header 'Content-Type: application/json'`. However there doesn't seem to be a way to do this with the helper:

[code]

[2020-01-08 20:03] andofcourse commented on #375
Don't think Go has optional params, but I assume you get the same result by passing in "".

[2020-01-08 20:03] #375 closed

[2020-01-13 18:40] RingoMckraken opened #377 "Inbound Parse Raw Data Question"
In the helper code for processing emails via the inbound parse web hook, the example file 'raw_data_with_attachments.txt' seems to fail due to lines 1-7. The question I have is the actual mime message being sent to the POST body, and are lines 1-7 going to be in the headers?

[2020-01-15 11:16] kfwebmaster commented on #366
how is this resolved? When adding a contact, the id of the contact is not returned

btw. pretty much every single api endpoint in the documentation is incorrect: https://sendgrid.api-docs.io/v3.0/contacts-api-recipients/add-recipients

[2020-01-15 18:22] RingoMckraken commented on #377
Closing this, have a working work around in the case a MIME message is further down the line.

[2020-01-15 18:22] #377 closed

[2020-01-15 22:55] ashaffer1903 commented on #366
I agree with @kfwebmaster, this is definitely not resolved. I guess it's acceptable that I can now see the status of a job correlating to a job_id returned from the contacts request, but there is still no reference to the id of the created contact. The only way to get it is making a call to /marketing/contacts and filtering by e-mail to get the id, which seems a little ridiculous. Perhaps when the

[2020-01-15 23:07] ashaffer1903 opened #378 "Create a new Contact and add to List"
#### Issue Summary

When using the /marketing/contacts endpoint of the V3 API, I am not able to also add the contact to a list at the same time.

#### Steps to Reproduce

1. Create a new list: POST https://api.sendgrid.com/v3/marketing/lists
`{"name": "test"}`
2. The API should return 200, with a response body similar to:
`{
    "name": "test",
    "id": "abc-123",
    "contact_count": 0
}`
3. Now

[2020-01-16 18:13] ashaffer1903 commented on #378
Didn't realize I was in the golang space, moved to Java project here: https://github.com/sendgrid/sendgrid-java/issues/598

[2020-01-16 18:13] #378 closed

[2020-01-23 21:01] KeeperFrancis commented on #366
Thanks all for this userful thread.

I figure out how to get the id of the user by email.

We can use POST /marketing/contacts/search See( https://sendgrid.api-docs.io/v3.0/contacts/search-contacts )
It wait for "query" parameter. I was lucky to find it in first try.
Syntax: 'email = "email@email.com"'

It will return id and others informations of the contact.

[2020-01-29 13:57] Menouer opened #381 "Different email content per recipient in one request"
Hello,

I have been trying to send different email content per recipients in one sendgrid call. By looking at the documentation the only way i could find is using the "sub" field  in the smtp API.
https://sendgrid.com/docs/API_Reference/SMTP_API/building_an_smtp_email.html

Is there any other way ? Is it safe to feed html content from there ?

Thank you

[2020-01-30 17:51] childish-sambino commented on #330
Closing as the position can no longer be found.

[2020-01-30 17:51] #330 closed

[2020-01-30 17:52] childish-sambino commented on #305
Closing as we're moving to internal tooling for automated release notes.

[2020-01-30 17:52] #305 closed

[2020-01-30 18:01] childish-sambino commented on #312
Closing as we're moving to internal tooling for automated release notes.

[2020-01-30 18:01] #312 closed

[2020-02-05 03:56] douglb opened #383 "Inbound parse handler example panics on sample raw data"
### Issue Summary
We were using https://github.com/sendgrid/sendgrid-go/blob/master/helpers/inbound/inbound.go as a reference for handling callbacks for parsing  incoming emails.

It does not appear the `inboundHandler` method processes the raw data requests and panics on the sample data included with the repo.

### Steps to Reproduce
1. Add the code snippet below to the https://github.com/sendgri

[2020-02-12 12:44] aasisodiya opened #384 "No plainTextContent in Email Body"
### Issue Summary
I am trying to run following code : https://github.com/sendgrid/sendgrid-go#with-mail-helper-class
On execution, I don't see any errors and email is delivered to the target, but plainTextContent is not visible in the body. Only htmlContent is visible

### Steps to Reproduce
1. Execute the code in example: https://github.com/sendgrid/sendgrid-go#with-mail-helper-class
2. Open the

[2020-02-13 18:47] childish-sambino commented on #384
The plain text content should be a plain version of the HTML content. It should not appear in conjunction with the HTML content.

[2020-02-13 18:53] aasisodiya commented on #384
I tried running the given example only and still couldn't see the plainTextContent. Can you please give me some working examples if possible?

[2020-02-13 19:01] aasisodiya commented on #384
Ok, now I understood, Thanks!

[2020-02-13 19:01] #384 closed

[2020-02-19 13:40] #289 closed

[2020-02-25 16:58] childish-sambino commented on #105
Not sure exactly why it's not returned, but here's where the 10k limit appears: https://sendgrid.com/docs/for-developers/sending-email/v3-mail-send-faq/#are-there-limits-on-how-often-i-can-send-email-and-how-many-recipients-i-can-send-to

For further clarity, best to [open a support ticket](https://support.sendgrid.com).

[2020-03-06 05:00] thinkingserious commented on #374
There is no longer a 404 on that link, it now goes to https://github.com/sendgrid/sendgrid-go/blob/master/use-cases/README.md

[2020-03-06 05:00] #374 closed

[2020-03-06 05:11] thinkingserious commented on #376
Hello @jackwootton,

I believe the [`SetHeader`](https://github.com/sendgrid/sendgrid-go/blob/master/helpers/mail/mail_v3.go#L236) method is what you need. I hope that helps!

With best regards,

Elmer

[2020-03-06 05:14] thinkingserious commented on #381
Hello @Menouer,

Please check out the [documentation here|https://github.com/sendgrid/sendgrid-go/blob/master/use-cases/personalizations-with-mailer-helper.md] for sample code on how to utilize this helper library.

Thanks!

With best regards,

Elmer

[2020-03-06 18:58] thinkingserious commented on #383
Hello @douglb,

When I run `go test -timeout 30s github.com/sendgrid/sendgrid-go/helpers/inbound`, I get
`ok  	github.com/sendgrid/sendgrid-go/helpers/inbound	0.017s`.

I was also unable to reproduce any errors using the steps [here](https://github.com/sendgrid/sendgrid-go/tree/master/helpers/inbound#quick-start-for-local-testing-with-sample-data).

Could you please take a look at my results and o

[2020-03-06 23:51] #358 closed

[2020-03-06 23:54] #373 closed

[2020-03-06 23:54] #371 closed

[2020-03-06 23:54] #368 closed

[2020-03-06 23:54] #365 closed

[2020-03-06 23:54] #354 closed

[2020-03-09 16:37] douglb commented on #383
@thinkingserious Thanks for the reply.  Following the steps in "Quick Start for Local Testing with Sample Data", but changing the `default_data.txt` file to `raw_data_with_attachments.txt` produces a problem for me, as well. The `default_data.txt` file will process fine, but the other sample file does not.

In the terminal running `go run inbound.go ./sample_data/raw_data_with_attachments.txt http

[2020-03-16 23:53] thinkingserious commented on #383
Hello @douglb,

I was able to recreate the bug. Thanks for the additional information!

This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

With best regards,

Elmer

[2020-03-26 08:07] xu1718191411 commented on #369
The reason is just simple.I used a test account.And it only allows me to send 100 mails per day.

[2020-03-26 21:00] rahulrumalla opened #385 "No error response and no email for Dynamic template"
### Issue Summary
Hello. I can't seem to get the Dynamic template email working. I get a 202 response and no error but there's no email being sent at all.

I'm not sure how else to troubleshoot this or if I'm doing something wrong. Help, please!

### Code Snippet
[code]

### Technical details:
* sendgrid-go version: latest (via govendor)
* go version: 1.13.8

[2020-03-27 22:39] thinkingserious commented on #385
Hello @rahulrumalla,

Do you see the email in the [Email Activity Feed](https://app.sendgrid.com/email_activity)? It may have gone to SPAM or bounced or some other event. Thanks!

With best regards,

Elmer

[2020-03-31 10:16] rahulrumalla commented on #385
Hi @thinkingserious
I don't see activity being reported there. I have a feeling that this request has silently failed but I do receive a 202 in the response from the SDK. Any tips how I can provide more info here?

[2020-03-31 15:49] thinkingserious commented on #385
Hello @rahulrumalla,

The 202 you receive from the SDK is passed through from the API.

I would reach out to our [support team](https://support.sendgrid.com) as they may be able to probe deeper into your account to help figure out where the missing email went.

With best regards,

Elmer

[2020-03-31 19:00] #267 closed

[2020-03-31 19:00] #376 closed

[2020-03-31 19:00] #381 closed

[2020-04-03 18:47] arianitu commented on #385
Maybe we need:

[code]

Is StatusCode what determines an error?

Edit: We've changed the code to:

[code]

[2020-04-07 21:24] thinkingserious commented on #385
Hello @arianitu,

Currently, the system is designed this way (return a 202, meaning  for performance reasons. I have made the product team aware of this use case.

For now, I suggest utilizing the [Email Activity API](https://sendgrid.api-docs.io/v3.0/email-activity/filter-all-messages) to periodically check for non-delivered emails.

I'm closing this one out since it's not a helper library specif

[2020-04-07 21:24] #385 closed

[2020-04-08 23:08] thinkingserious commented on #385
For internal tracking: https://jira.sendgrid.net/browse/MP-6101

[2020-04-09 15:10] medbak opened #387 "empty body"
Hi, I am using sendgrid and it is integrated successfully in my PHP code.
I am using templates and it is well stocked.

I am asking why the response body is empty ?
Also, can I get the HTML code after sending emails to clients because i want to stock the emails in the database and the reponse body is empty ?
PS : I am sending data to the sendgrid tempaltes so i want to save the whole emails.

Than

[2020-04-09 15:46] childish-sambino commented on #387
Processing of emails to be delivered is an async process which is why the response is `202 Accepted` and the body is empty.

For retrieving the email body, recommend using a BCC address configured with an inbound parser: https://github.com/sendgrid/sendgrid-go/tree/master/helpers/inbound

[2020-04-10 14:53] medbak commented on #387
Thanks a lot.
It is working.
Other question : It is possible to get the body directly after sending data to sendgrid in the response ?
Thanks again,

[2020-04-15 16:58] childish-sambino commented on #387
No, it's not part of the response.

[2020-05-15 20:45] childish-sambino commented on #359
Fixed by https://github.com/sendgrid/sendgrid-go/pull/363

[2020-05-15 20:45] #359 closed

[2020-05-18 14:09] #387 closed

[2020-05-18 23:16] ryanhartje opened #393 "Use results in account suspension"
Using the sample provided in the README, my account was suspended, to which there is no path to reach support.

Perhaps it would build a better end user experience to outline how to avoid this. I made synchronized calls to send emails to myself for testing, which has led to an inability to use this service at all, possibly permanently. I don't see how this violates the TOS, and am caught completel

[2020-05-20 01:34] #393 closed

[2020-05-28 23:20] daltemen opened #394 "QueryParams attribute with map[string]string type doesn't support query array params"
Hello everyone.

I'm trying to get the category stats. https://sendgrid.com/docs/API_Reference/Web_API_v3/Stats/categories.html

this service supports query array params
`...&categories=cat1&categories=cat2`

and i see that the Request struct:
[code]
of course you can't have two equal keys.

I've temporarily solved it by creating some functions to use directly

`params := url.Values{}`

perhaps it

[2020-06-03 13:01] ebati opened #395 "Version tags with vMajor.Minor.Patch (with v prefix)"
### Issue Summary

You do not use go modules but tagging release with vX.X.X would help to discover versions much easier for module users. As [go modules](https://github.com/golang/go/wiki/Modules#modules) seek for vX.X.X format.

[2020-06-04 20:22] titouanfreville commented on #152
Hello here. Is this issue still in progress ?

Having this interface would really be nice. Also, providing a default mock using testify could be a simple way to allow lot of people to use it.

Having to make a wrapper for unit testing is quite annoying 👍 :)

Thanks for your work 👍

[2020-06-08 18:17] childish-sambino commented on #394
This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2020-06-08 19:30] childish-sambino commented on #395
Fixed!

[2020-06-08 19:30] #395 closed

[2020-06-08 22:31] d00medman opened #397 "API for sending with dynamic templates returning 202 response, but email is not sending"
### Issue Summary
I am trying to send an email using the client. I have been Able to send emails using both plaintext and in code html. When I try to use a simple template I made, I receive an identical 202 response from the client, but I never get the message, nor does it appear in my activity feed.

### Steps to Reproduce
1. This is the first step
2. This is the second step
3. Further steps, etc

[2020-06-09 20:17] thinkingserious commented on #397
Hello @d00medman,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2020-06-09 20:17] #397 closed

[2020-06-16 15:32] childish-sambino commented on #152
@titouanfreville Nope, looks like there is no one currently working on this issue.

[2020-06-23 11:51] curious-webs commented on #366
Hi @ashaffer1903, @thinkingserious,  in my case the job id returned by [PUT /marketing/contacts](https://sendgrid.api-docs.io/v3.0/contacts/add-or-update-a-contact) always return pending status.

But when I generate new job id and test the old job id, it shows completed. So, How exactly I can get whether the contacts has been imported successfully or not.

[2020-07-02 16:54] phillipbroberts opened #399 "Example in documentation for parse helper doesn't work"
### Issue Summary
The example in the readme for helper/inbound does not work.

### Steps to Reproduce
1. Cut and Paste Example
2. Run Code
3. Point a parser domain to it
4. Send email to address@parser.domain

### Code Snippet
[code]

### Exception/Log
[code]

### Technical details:
* sendgrid-go version: Latest
* go version: 1.14

[2020-07-06 18:22] eshanholtz commented on #399
@phillipbroberts

Looks like it's having an issue parsing the email header portion. Can you please include an example of the inbound email request body so I can run further tests?

[2020-07-08 13:48] phillipbroberts commented on #399
I didn't have the service up anymore - the best I could do is send an email from the address I was using to send test emails to one of my other email addresses - hope this is helpful.

`Date: Wed, 08 Jul 2020 09:40:47 -0400
Subject: test
From: Phillip Roberts <p@philliproberts.dev>
To: Phillip Roberts <phil@pvretailers.com>
Message-ID: <8502C7F6-A8FA-4603-ABDA-D07FD2948DDB@philliproberts.dev>
Thre

[2020-07-13 15:33] childish-sambino commented on #302
Closing as links have been removed.

[2020-07-13 15:33] #302 closed

[2020-07-14 16:41] eshanholtz commented on #399
I was able to recreate this bug. This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2020-07-16 19:52] childish-sambino commented on #274
Closing as prism integration has been moved to https://github.com/sendgrid/sendgrid-oai

[2020-07-16 19:52] #274 closed

[2020-07-17 21:11] childish-sambino commented on #307
Closing as we're no longer going with this change of workflow.

[2020-07-17 21:11] #307 closed

[2020-07-23 21:38] #328 closed

[2020-07-29 16:08] childish-sambino commented on #240
Fixed by https://github.com/sendgrid/sendgrid-go/pull/339

[2020-07-29 16:08] #240 closed

[2020-07-30 15:35] childish-sambino commented on #183
Fixed by https://github.com/sendgrid/sendgrid-go/pull/194

[2020-07-30 15:35] #183 closed

[2020-07-30 16:05] childish-sambino commented on #203
Closing as it's been a long time with no traction, there are no plans to build this, and it feels a bit complex to replicate and maintain across 6 different languages. I'd prefer an option where the source lives in 1 place or is taken as a SendGrid backend enhancement.

[2020-08-03 18:36] childish-sambino commented on #257
This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2020-08-12 12:41] quentinvernot opened #403 "Linking a context object with the request"
### Issue Summary
I'm using sendgrid for server-side transactional emails and I'm wondering if there is a way to forward the context object from my requests to the sendgrid client. I couldn't find a way to do it in the API, is there one I missed? (Couldn't find any issues on this either)

If not, would it be possible to add a way?

Cheers!

[2020-08-12 20:02] thinkingserious commented on #403
Hello @quentinvernot,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2020-08-13 13:02] quentinvernot commented on #403
Hi @thinkingserious,

After spending some time prying into the lib, I can safely say that passing a golang standard library `context.Context` object to the lib is not currently supported, even when using the underlying `sendgrid/rest` lib directly. So this is a feature request now.

Would it be possible to add a way to forward a parent `context.Context` object to the underlying http request?

[res

[2020-08-17 21:21] thinkingserious commented on #403
Thank you for taking the time to elaborate!

Your proposed solution seems worth a try to me. This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the issue summary will help it move up the backlog.

[2020-08-18 15:21] childish-sambino commented on #301
Fixed by https://github.com/sendgrid/sendgrid-go/commit/fc8d8fa04b5f99d30ab22916958670d9d33da2ac

[2020-08-18 15:21] #301 closed

[2020-08-21 22:02] ecarter202 opened #404 "A lot of raw Go"
Hopefully I'm not out-of-line here, but it seems like this library requires a lot of raw Go code.

i.e.
[code]

instead of something like:
[code]

are there any plans to abstract more functionality out?

thanks.

[2020-08-24 07:47] lryong commented on #369
Also encountered this problem

[2020-08-24 19:30] childish-sambino commented on #404
Not out of line. The SendGrid libraries are largely built to simplify the mail-send use case. But, you can also access other SendGrid APIs using the client, just that there's not a whole lot of value-add there (besides maybe auth).

There are currently no plans to add such abstractions, but issues and PRs are welcome.

[2020-08-27 16:39] #286 closed

[2020-09-01 23:54] eshanholtz commented on #362
Closing as this is a non-library issue.

[2020-09-01 23:54] #362 closed

[2020-09-02 11:59] hypirion commented on #362
For the record: After I sent in the support request, I was told they will look into the issue. However, I did not hear back from them.

As I'm no longer with the company that used SendGrid, I am unable to look at the request or ask for an update (as the request was tied to my work address). If people still have trouble with this, then I think your best shot is to send in a support request yourself

[2020-09-06 00:58] #404 closed

[2020-09-17 06:04] EugenRakhimov opened #405 "Duplicate emails: 2 emails per one api call intermittenly"
### Issue Summary
So from time to time we encounter following error: 1 api call for transactional email with template  results in 2 emails sent to user. It's not consistent, but since we send a lot of emails it happens a bit.
I believe it's the same issue that is happen for  https://github.com/sendgrid/sendgrid-php/issues/557 and  https://github.com/sendgrid/sendgrid-java/issues/420

### Steps to

[2020-09-17 10:03] yvesf opened #406 "mail.NewEmail leads to double quoting in mail API"
In this example: `examples/helpers/mail/example.go`

The mail is constructed like;
[code]

If we would set `name` there to `Some User (via website.com)` the escaping in constructor of `mail.NewEmail` will change the `Email.Name` field to `"Some User (via website.com)"` (quoted).

Sending this via the API leads to double quoting, so at the receiver side it looks like:
[code]

Many mail clients show

[2020-09-18 00:53] eshanholtz commented on #406
Hi @yvesf

According to the implementation, this is done intentionally to prevent [mail dropping errors due to the presence of special characters](https://github.com/sendgrid/sendgrid-go/blob/main/helpers/mail/mail_v3.go#L607) in the name portion. In your case, due to the presence of parenthesis in the name portion, the string needs to be escaped with quotation marks. That said, a similar escaping

[2020-09-18 00:57] eshanholtz commented on #405
Hi @EugenRakhimov

Can you please specify which version of the sendgrid-go library you're using and also provide some sample code of how you're sending your emails?

Thanks

[2020-09-22 11:58] michaeldebarros opened #407 "Preview styles different from sent email"
Hello,

This is certainly not specific to go, but here is the problem:

1) Preview:
![image](https://user-images.githubusercontent.com/13764866/93878644-c4895680-fcb0-11ea-87ec-23151a94ea76.png)

2) This is the email sent:

![image](https://user-images.githubusercontent.com/13764866/93878708-e4b91580-fcb0-11ea-86a2-b9f6edd79777.png)

The sent email has a different background color, font, button.

[2020-09-22 23:24] thinkingserious commented on #407
Hello @michaeldebarros,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2020-09-22 23:24] #407 closed

[2020-09-23 21:36] #406 closed

[2020-09-26 03:08] jeffwalsh opened #409 "Setting subject with DynamicTemplateData does not work with V3Mail"
### Issue Summary
Using a NewV3Mail with a Dynamic Template causes no subject to be set.

### Steps to Reproduce
Try the go code below and check your email to see the subject has not been set. This was also opened by another user here: https://github.com/sendgrid/sendgrid-go/issues/341 and closed by the sendgrid team without comment. If there is a workaround/solution please post it instead of clos

[2020-09-26 04:05] jeffwalsh commented on #409
Hours of digging: I Found out you have to guess that the Subject is hidden within "Settings" on the template itself, and the Subject function for V3 mail with a template does nothing.

[2020-09-26 04:05] #409 closed

[2020-10-01 01:47] #266 closed

[2020-10-13 15:47] childish-sambino commented on #136
Closing as this feels like more of a blog post than library documentation and use cases.

[2020-10-13 15:47] #136 closed

[2020-10-13 15:51] childish-sambino commented on #131
Closing as this feels like more of a blog post than library documentation and use cases.

[2020-10-13 16:02] childish-sambino commented on #133
Closing as this feels like more of a blog post than library documentation and use cases.

[2020-10-13 16:02] #133 closed

[2020-10-13 16:04] childish-sambino commented on #135
Closing as this feels like more of a blog post than library documentation and use cases.

[2020-10-13 16:04] #135 closed

[2020-10-13 16:04] #132 closed

[2020-10-13 16:05] childish-sambino commented on #140
Closing as this feels like more of a blog post than library documentation and use cases.

[2020-10-16 18:14] #251 closed

[2020-10-19 22:40] #405 closed

[2020-10-22 16:34] garydevenay opened #412 "Inbound Parse: All attachments have Content-Type: text/plain"
### Issue Summary
When receiving an attachment via Inbound Parse and using the helper, the content type of all attachments are text/plain. I have tested this with .zip and .jpeg files.

### Steps to Reproduce
1. Send email to your inbound address
2. Use the below code to spit out the content types of attachments.

### Code Snippet
[code]

### Exception/Log
[code]

### Technical details:
* sendgrid

[2020-10-24 00:13] eshanholtz commented on #412
Hi @garydevenay

I noticed you're using `http.DetectContentType(contents)` to determine the content type, instead of reading the type parsed from the email by `inbound.Parse`. Is the content type parsed from the email using the inbound helper correct?

[2020-10-24 10:55] garydevenay commented on #412
Hi @eshanholtz
Thanks for the reply. As I understand `contents` is a `map[string][]byte` containing the file contents with the filename as the key ([Reference](https://github.com/sendgrid/sendgrid-go/blob/4aa5f02f99ded2a769fc5fc1f43b06777f196cbd/helpers/inbound/inbound.go#L68)) Is there a separate property of `ParsedEmail` that contains the content type?

[2020-10-26 15:18] rduman opened #413 "uploading contact info returns failed and "you have hit your contact limit""
Hi All,

I have an error when uploading contact list to sendgrid via api v3. What does it mean this error? How can I pass that?

Regards,

[2020-10-26 15:27] #413 closed

[2020-10-27 00:19] eshanholtz commented on #412
Ah, my apologies. There is a `ParsedEmail.Headers` property that reads headers from the email, but the `Content-Type` header you would end up reading from there is `multipart/mixed`. I was able to recreate your issue using `http.DetectContentType` on our test email attachments. I think the best path forward here would be to extend the inbound module to give `Attachments` its own `ParsedAttachment`

[2020-10-27 00:34] coolaj86 opened #414 "GoDoc: “Doc” not displayed due to license restrictions."
It looks like the LICENSE is incorrectly named and is causing GoDoc to not be able to parse the documentation:

See <https://pkg.go.dev/github.com/sendgrid/sendgrid-go>.

Re #415

[2020-10-27 10:26] garydevenay commented on #412
@eshanholtz Created a PR for the above solution.

[2020-10-27 12:37] jacklaaa89 opened #417 "Go Modules Support"
### Issue Summary
Is there any plans in the future to support go modules. As at the minute the import is marked as `incompatible` when using any version above v1

for example the import should be renamed to have the major version suffixed:
[code]

[2020-10-28 04:46] #414 closed

[2020-10-28 16:29] ncostamagna opened #419 "Mocks helper"
### Issue Summary
Create mocks helper for easy test sendgrid SDK in owr project

### Code Snippet
[code]

[2020-10-28 16:40] #419 closed

[2020-10-29 15:45] amclay opened #421 "Create interface for testability"
### Issue Summary
It would be nice to have an interface available for mocking or a provided fake client that allows clients to utilize the library without sending real emails.

### Steps to Reproduce
N/A

### Code Snippet
ex:
[code]

Then consumers can create their own mocks using https://github.com/vektra/mockery or https://github.com/maxbrunsfeld/counterfeiter

[2020-10-29 17:29] childish-sambino commented on #417
This issue has been added to our internal backlog to be prioritized. Pull requests and +1s on the **issue summary** will help it move up the backlog.

[2020-10-30 14:57] #283 closed

[2020-11-06 19:08] #253 closed

[2020-11-12 02:20] 3inchtime opened #422 "Why I got cors error?"
### Problem
When I use Sendgrid-go to send mail, I get this error.

[code]
Why I got this error? Please answer about that, and how can I fix this error?

### Code Snippet
[code]
[code]

[code]

* sendgrid-go version: github.com/sendgrid/sendgrid-go v3.7.1+incompatible
* go version: go 1.13.4

[2020-11-12 02:39] 3inchtime commented on #422
Sorry, I didn't check my email, it turned out to be sent successfully. But response.Body is not printed here. So it confuses me.

[2020-11-12 02:39] #422 closed

[2020-11-19 05:10] ncostamagna commented on #421
Hello,
I created a SendGrid interface in #420 for test integration

[code]

[2020-11-19 08:50] badoux commented on #369
Also encountered this problem

[2020-11-24 11:17] decanus opened #423 "Rate Limiting does not return an error"
When requests are rate limited the expected behaviour is that an `error` is returned, this is however not the case.

[2020-12-05 16:01] mattn commented on #362
@eshanholtz No. This is a issue of this library. This library does not handle Content-Transfer-Encoding header. If the email contains multi-byte strings like UTF-8, e-mail client set `Content-Transfer-Encoding: base64`. This library does not decode the base64 strings.

[2020-12-21 02:34] kwshi commented on #399
For whoever gets around to working on this (I may try to open a PR later if I'm free), I dug around a little and think I figured out the cause of the issue:

https://github.com/sendgrid/sendgrid-go/blob/52264b866fe06cdf99aabb66640795e68aed36c9/helpers/inbound/inbound.go#L36

I wrote a quick program that logs the keys of the `req.MultipartForm.Value` map, producing the following:
[code]
Point being

[2021-01-05 17:40] strongSoda commented on #366
The contact doesn't appear in the sendgrid UI. The job id returned by `POST  /marketing/contacts` always returns pending status.

Using `POST v3/marketing/contacts` without custom fields.

[2021-01-05 22:06] sushi4lyfe commented on #266
is it supposed to crash if you put plain text in both html and plaintext fields? getting and "unexpected EOF" error when putting plaintext into both fields

[2021-01-05 22:11] sushi4lyfe commented on #423
+1 atm it seems to return "unexpected EOF" which is very confusing

[2021-01-08 00:02] sushi4lyfe commented on #369
same

[2021-01-20 22:49] shwetha-manvinkurke commented on #423
Hi @decanus and @sushi4lyfe,

Thanks for reporting the issue! Do you have any code snippets that I can use to reproduce the issue? Also, can you show us the exact behavior that you are seeing? Error messages and logs can help.

Thanks,
Shwetha

[2021-01-26 16:44] garydevenay commented on #412
Update on the above:
The solution above (including my amendments) still doesn't actually work with attachments. All attachments that come through inbound parse are corrupt.

I can't make any more progress on this as I'm unable to test Inbound Parse's requests on a non-production environment and the provided unit tests aren't a reflection of Inbound Parse's POST request.

This either needs to be lo

[2021-01-27 05:50] abhayciitizen commented on #366
@jaunt @thinkingserious I am still facing this issue. How its still there ?

[2021-02-03 22:22] bonesyo commented on #417
+1

[2021-02-10 00:38] #351 closed

[2021-02-22 15:55] #423 closed

[2021-02-24 15:39] MerNat opened #427 "The template id must be a valid template id for your account issue."
### Issue Summary
I've tried to use a dynamic template to send an email using this simple [how-to](https://github.com/sendgrid/sendgrid-go/blob/main/use-cases/transactional-templates-with-mailer-helper.md) example.

### Result
I'm getting an email but it's saying exactly like that:
[code]
THE template ID is the same as what I have in my account, but couldn't tell what's happening.

Any help will b

[2021-02-26 04:56] thinkingserious commented on #427
Hello @MerNat,

Thanks for submitting a GitHub issue! We are very sorry that you are running into this problem. In order to better serve you, as this does not present itself as a library specific issue, we would like to ask that you reach out to our support team at <a href="https://support.sendgrid.com">https://support.sendgrid.com</a>.

Thank you!

SendGrid DX Team

[2021-02-26 04:56] #427 closed

[2021-03-10 13:51] thinkingserious commented on #177
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 13:51] #177 closed

[2021-03-10 13:51] thinkingserious commented on #173
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 13:51] #173 closed

[2021-03-10 13:52] thinkingserious commented on #172
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 13:52] #172 closed

[2021-03-10 13:52] thinkingserious commented on #170
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 13:52] #170 closed

[2021-03-10 13:53] thinkingserious commented on #150
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 13:53] #150 closed

[2021-03-10 13:53] thinkingserious commented on #125
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 13:53] #125 closed

[2021-03-10 13:53] thinkingserious commented on #94
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 13:53] #94 closed

[2021-03-10 13:54] thinkingserious commented on #180
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 13:54] #180 closed

[2021-03-10 13:54] thinkingserious commented on #169
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 13:54] #169 closed

[2021-03-10 13:55] thinkingserious commented on #367
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 13:55] #367 closed

[2021-03-10 13:55] thinkingserious commented on #340
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 13:55] #340 closed

[2021-03-10 13:56] thinkingserious commented on #364
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 13:56] #364 closed

[2021-03-10 13:56] thinkingserious commented on #311
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 13:56] #311 closed

[2021-03-10 13:57] thinkingserious commented on #290
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 13:57] #290 closed

[2021-03-10 13:57] thinkingserious commented on #157
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 13:57] #157 closed

[2021-03-10 13:58] thinkingserious commented on #156
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 13:58] #156 closed

[2021-03-10 13:58] thinkingserious commented on #167
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 13:58] #167 closed

[2021-03-10 14:00] thinkingserious commented on #166
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 14:00] #166 closed

[2021-03-10 14:00] thinkingserious commented on #171
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 14:00] #171 closed

[2021-03-10 14:00] thinkingserious commented on #174
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 14:00] #174 closed

[2021-03-10 14:01] #208 closed

[2021-03-10 14:01] thinkingserious commented on #245
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 14:01] #245 closed

[2021-03-10 14:01] thinkingserious commented on #265
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 14:01] #265 closed

[2021-03-10 14:01] thinkingserious commented on #275
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 14:01] #275 closed

[2021-03-10 14:02] thinkingserious commented on #298
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 14:02] #298 closed

[2021-03-10 14:02] thinkingserious commented on #300
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 14:02] #300 closed

[2021-03-10 14:03] thinkingserious commented on #314
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 14:03] #314 closed

[2021-03-10 14:03] thinkingserious commented on #112
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 14:03] #112 closed

[2021-03-10 14:03] thinkingserious commented on #109
Since there has been no activity on this issue since March 1, 2020, we are closing this issue. Please feel free to reopen or create a new issue if you still require assistance. Thank you!

[2021-03-10 14:03] #109 closed

[2021-04-01 03:04] willfolsom opened #428 "Personalization Subject Override results in (no subject)"
Any current known issues with setting the subject of a personalization?

[code]

I'm getting an email with no subject. The template has an empty subject field. Everything else works as expected.

<img width="245" alt="Screen Shot 2021-03-31 at 11 03 46 PM" src="https://user-images.githubusercontent.com/3690251/113237765-72d01300-9275-11eb-9e10-922a9f280db4.png">

This does not resolve it either.

[2021-04-07 03:05] someone1 commented on #403
https://github.com/sendgrid/rest/pull/92 was recently merged so `WithContext` versions of functions can be introduce here - or we can modularize this repo and release a v4 version where each call takes in a `context.Context`

[2021-04-07 20:23] JenniferMah commented on #428
Hi @willfolsom,
Based on the two lines of code you provided it looks like you are setting the subject correctly. Can you include the rest of your code that you are using to send email with Sendgrid-go? Have you had a chance to try out the [code sample for sending a personalization email](https://github.com/sendgrid/sendgrid-go/blob/main/use-cases/personalization-sending-single-email-to-multiple-re

[2021-04-07 20:26] willfolsom commented on #428
Yes I've tried the snippet. Here is my implementation.

[code]

[2021-04-15 13:02] willfolsom commented on #428
@JenniferMah Any update?

[2021-04-16 06:02] itsksaurabh opened #429 "Add Email length validation"
### Issue Summary

The technical limit for an email address is 64 characters before the @ sign and 255 after, allowing for a total length of 320 characters (including the @ sign).

According to https://tools.ietf.org/html/rfc3696#section-3

[code]

According to **Sendgrid's best practices** described in this blog https://sendgrid.com/blog/email-marketing-length-best-practices"

![image](https://us

[2021-04-16 16:24] childish-sambino commented on #428
From the API docs for the `templateId` param:

Based on this, there is an API limitation where the template's subject/content will always win out.